<div class="modal fade" id="modal_editar_receta">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Boton de cerrar modal-->
            <div class="col-sm-12 justify-content-right">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <!-- Cuerpo modal-->
            <div class="modal-body">
                <div class="col-12">
                    <div class="card card-info card-outline border-info mb-3 ">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Editar Medicamentos</h5>
                        </div>
                        <div class="card-body">
                            <!--Form para editar Receta-->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Medicamento</h5>
                                </div>
                                <div class="card-body">
                                    <form method="post" accept-charset="utf-8" id="formMedicamento">
                                        <input type="hidden" id="identificador_editar_receta"
                                            name="identificador_editar_receta" value="">
                                        <div class="row form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text ">Nombre del medicamento</span>
                                                </div>
                                                <input required type="text"
                                                    placeholder="Ingrese el nombre del medicamento."
                                                    class="form-control" id="nombre_editar" name="nombre_editar"
                                                    value="">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text ">Nombre Comercial</span>
                                                </div>
                                                <input required type="text" placeholder="Ingrese el nombre comercial."
                                                    class="form-control" id="nombre_comer_editar"
                                                    name="nombre_comer_editar" value="">
                                            </div>
                                        </div>
                                        <div style="column-count: 2;">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Concentracion</span>
                                                    </div>
                                                    <input required type="text" placeholder="Ingrese la concentracion"
                                                        class="form-control" id="concentra_editar"
                                                        name="concentra_editar" value="">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Frecuencia</span>
                                                    </div>
                                                    <input required type="text" placeholder="Ingrese la frecuencia"
                                                        class="form-control" id="frec_editar" name="frec_editar"
                                                        value="">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Via de Administración</span>
                                                    </div>
                                                    <input required type="text"
                                                        placeholder="Ingrese la tipo de administración."
                                                        class="form-control" id="via_admin_editar"
                                                        name="via_admin_editar" value="">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Días</span>
                                                    </div>
                                                    <input required type="number" name="duracion_editar"
                                                        id="duracion_editar" step="1" min="0" value="">
                                                    <!--el min es 0 porq puede ser una sola toma como un purgante XD-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--Boton para agregar medicamento a la lista-->
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <button type="submit" id="agregarMed_editar" name="agregarMed_editar"
                                                    class="btn btn-success" data-toogle="tooltip"
                                                    title="Añadir a la lista de enfermedades">Agregar
                                                    medicamento</button>
                                            </div>
                                        </div>
                                        <br>
                                        <!-- Fin de boton para agregar medicamento-->
                                    </form>
                                </div>
                            </div>
                            <form method="post" name="formuMed_editar" id="formuMed_editar"
                                action="{% url 'receta_editar' %}">
                                {% csrf_token %}
                                <input type="hidden" id="id_receta_editar" name="id_receta" value="">
                                <!--DataTable de Medicamentos-->
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped" id="tableMedicamento"
                                            name="tableMedicamento" style="width: 100%;">
                                            <thead class="bg-secondary">
                                                <tr>
                                                    <td>Nombre del medicamento</td>
                                                    <td>Nombre comercial</td>
                                                    <td>Concentración</td>
                                                    <td>Frecuencia</td>
                                                    <td>Administración</td>
                                                    <td>Días</td>
                                                    <td>Opciones</td>
                                                </tr>
                                            </thead>
                                            <tbody id="medTable">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Fin de Tabla de Medicamentos -->
                                <!-- Inicio Botones-->
                                <div class="col-lg-4 offset-lg-8 text-right">
                                    <button type="button" id="enviar_med_editar" class="btn btn-info">Guardar</button>
                                </div>
                                <!--Fin Botones-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>