<div class="tab-pane fade" id="tab_recetas_contenido" role="tabpanel" aria-labelledby="tab_recetas_contenido">

    <div class="card-body">
        {% if consulta.diagnosticomedico %}
        <div class="alert alert-warning"
            style="text-align: center; background-color: #fff3cd; color: #b59c5c; margin-left: 20%; margin-right: 20%;"
            role="alert">
            {% if todas == 0 %}
            Se muestran Solamente las recetas de esta consulta.
            {% else %}
            Se muestran Todas las recetas de este expediente.
            {% endif %}
        </div>
        <div class="col-12">
            <p>
                {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                <button disabled class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                    data-toggle="collapse" data-target="#formulario_receta" aria-expanded="false">
                    <span aria-hidden="true"></span> Agregar Receta &nbsp;
                </button>
                {% else %}
                <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button" data-toggle="collapse"
                    data-target="#formulario_receta" aria-expanded="false">
                    <span aria-hidden="true"></span> Agregar Receta &nbsp;
                </button>
                {% endif %}

                {% if todas == 0 %}
                <button class="btn btn-outline-info" type="button" data-toggle="tooltip"
                    title="Ver todas las recetas de todas las consultas de este paciente." data-placement="top"><a
                        href="{% url 'consultas_edit' todas=1 id_consulta=consulta.id %}">
                        <span aria-hidden="true"></span>Mostrar todas&nbsp;</a>
                </button>
                {% else %}
                <button class="btn btn-outline-info" type="button" data-toggle="tooltip"
                    title="Listar solo recetas de esta consulta" data-placement="top"><a
                        href="{% url 'consultas_edit' todas=0 id_consulta=consulta.id %}">
                        <span aria-hidden="true"></span>Mostrar solo consulta actual&nbsp;</a>
                </button>
                {% endif %}
                <a href="{% url 'indexExpedientes' %}" role="button"
                    class="btn btn-bg btn-secondary offset-lg-6">Regresar</a>
            </p>
            <div class="collapse" id="formulario_receta">
                <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                    <!-- Inicio del card que engloba los campos del form -->
                    <div class="card-header">
                        <h5>Nueva Receta</h5>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text ">Diagnostico</span>
                                </div>
                                <textarea disabled class="form-control" rows="2" maxlength="400" id="enfermedad"
                                    placeholder="Ingrese la enfermedad.">{% for cod in diagnostico.id_codigo_internacional.all %}{{cod.dec10}}&#013;{% endfor %}</textarea>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>Medicamento</h5>
                            </div>
                            <div class="card-body">
                                <form method="get" accept-charset="utf-8" id="formMed">

                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Nombre del medicamento</span>
                                            </div>
                                            <input required type="text" placeholder="Ingrese el nombre del medicamento."
                                                class="form-control" id="nombre" name="nombre" value="">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Nombre Comercial</span>
                                            </div>
                                            <input required type="text" placeholder="Ingrese el nombre comercial."
                                                class="form-control" id="nombre_comer" name="nombre_comer" value="">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="input-group col-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Concentracion</span>
                                            </div>
                                            <input required type="text" placeholder="Ingrese la concentracion"
                                                class="form-control" id="concentra" name="concentra" value="">
                                        </div>
                                        <div class="input-group col-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Frecuencia</span>
                                            </div>
                                            <input required type="text" placeholder="Ingrese la frecuencia"
                                                class="form-control" id="frec" name="frec" value="">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="input-group col-9">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Via de Administración</span>
                                            </div>
                                            <input required type="text" placeholder="Ingrese la tipo de administración."
                                                class="form-control" id="via_admin" name="via_admin" value="">
                                        </div>
                                        <div class="input-group col-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Días</span>
                                            </div>
                                            <input required class="form-control" type="number" name="duracion"
                                                id="duracion" step="1" min="0" value="">
                                            <!--el min es 0 porq puede ser una sola toma como un purgante XD-->
                                        </div>
                                    </div>

                                    <!--Boton para agregar medicamento a la lista-->
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <button type="submit" id="agregarMed" name="agregarMed"
                                                class="btn btn-success" data-toogle="tooltip"
                                                title="Añadir a la lista de medicamentos">Agregar
                                                Medicamento</button>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- Fin de boton para agregar medicamento-->
                                </form>
                            </div>
                        </div>

                        <!--Form para agregar recetas-->
                        <form action="{% url 'receta_crear' consulta.diagnosticomedico.id %}" method="post"
                            id="formRegistrarReceta" name="formRegistrarReceta">
                            {% csrf_token %}
                            <!--Tabla Medicamentos-->
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="tablaMedicamentos"
                                        name="tablaMedicamentos" style="width: 100%;">
                                        <thead class="bg-secondary">
                                            <tr>
                                                <td>Nombre </td>
                                                <td>Frecuencia</td>
                                                <td>Duración</td>
                                                <td>Opción</td>
                                            </tr>
                                        </thead>
                                        <tbody id="cuerpoMed">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--Fin de Tabla de Medicamentos-->

                            <!-- Inicio Botones-->
                            <div class="row">
                                <div class="col-lg-4 offset-lg-7 text-right">
                                    <a href="" role="button" class="btn btn-danger" data-toggle="collapse"
                                        data-target="#formulario_receta" aria-expanded="false">Cancelar</a>
                                    <button type="button" id="guardarReceta" name="guardarReceta"
                                        class="btn btn-info">Guardar</button>
                                </div>
                            </div>
                            <!--Fin Botones-->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal para editar Receta-->
        <div class="container-fluid" class="contenedor_editar">
            {% include 'recetas/editar_receta_modal.html' %}
        </div>

        <!--DataTable de Recetas-->
        <div class="row">
            <div class="col-12">
                <div class="card card-outline border-secondary ">
                    <div class="card-header">
                        <h3 class="card-title">
                            Listado de Recetas
                        </h3>
                    </div>
                    <div class="row">
                        <div class="card-body col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="tableAntecedenteMedico"
                                    name="tableAntecedenteMedico" style="width: 100%;">
                                    <thead class="bg-secondary">
                                        <tr>
                                            <td>Diagnóstico </td>
                                            <td>Fecha Receta</td>
                                            <td>Opciones</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for receta in recetas %}
                                        <tr>
                                            <td>
                                                {% for cod in receta.id_diagnostico.id_codigo_internacional.all %}
                                                {{cod.dec10}} <br>
                                                {% endfor %}
                                            </td>
                                            <td>{{receta.fecha}}</td>
                                            <td>
                                                {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                                                <button disabled type="button" data-target="#modal_editar_receta"
                                                    data-toggle="modal" id="receta_editar" name="receta_editar"
                                                    class="btn btn-sm btn-success">Actualizar</button>
                                                <button disabled href="{% url 'receta_eliminar' receta.id %}"
                                                    class="btn btn-sm btn-danger">Eliminar</button>
                                                {% else %}
                                                <button type="button"
                                                    onclick="mostrar_formulario_editar_receta('{{receta.id}}')"
                                                    id="receta_editar" name="receta_editar"
                                                    class="btn btn-sm btn-success">Actualizar</button>
                                                <a href="{% url 'receta_eliminar' receta.id %}"
                                                    class="btn btn-sm btn-danger">Eliminar</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="alert alert-warning" style="background-color: #fff3cd; color: #b59c5c;" role="alert">
            No puede ingresar recetas mientras no haya diagnostico
        </div>
        {% endif %}
    </div>
</div>