{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bloqueo de cuenta</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static '/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

{% block content %}

<body class="hold-transition login-page">
    <div class="card">
        <div class="card-body register-card-body">

            <h5>El limite de fallos al iniciar sesión es de {{failure_limit}}</h5>
            <div>

                <div class="row">
                    <div class=" col-sm-6  text-right">
                        <a href="{% url 'log_in' %}">Iniciar Sesión</a>

                    </div>
                    <div class=" col-sm-6">
                        <a href="{% url 'block_email' %}">Desbloquear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if messages %}
    <!-- Varible que dispara los sweet alerts -->
    <ul>
        {% for message in messages %}
        <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
        {% endfor %}
    </ul>
    <!-- Varible que dispara los sweet alerts fin -->
    {% endif %}



    <!-- jQuery -->
    <script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </boby>

    </div>

</html>
{% endblock %}