{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-8 offset-2 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>Cambiar contraseña</h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <!--Inicio del Form -->
                            <form method="post">
                                {% csrf_token %}
                                
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class= "input-group-prepend">
                                            <span class="input-group-text ">Contraseña antigua</span>
                                        </div>
                                        {{ form.old_password }}
                                    </div>    
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Contraseña nueva</span>
                                        </div>      
                                        {{ form.new_password1 }}                                  
                                    </div>  
                                </div>
                                {% if form.errors %}
                                    <div class="row">
                                        <div class="col-lg-10 offset-lg-1 alert alert-danger">
                                        {% for error in form.errors.old_password %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                        {% for error in form.errors.new_password2 %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}                                
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Confirmar contraseña</span>
                                        </div>
                                        {{ form.new_password2 }}                                       
                                    </div>    
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-7 text-right">
                                        <a href="{% url 'home' %}" role="button" class="btn btn-danger">Cancelar</a>
                                        <button class="btn btn-success">Cambiar</button>
                                    </div>
                                </div>
                            </form> <!-- Fin del Form-->
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
