{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsaccounts/indexAccounts.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->

<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-11 offset-1">
            <div class="card card-info">
                <div class="card-header">
                    <h5>Listado de usuarios</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-8 text-right">
                            <a class="btn btn-primary" href="{% url 'create_user' %}" role="button">
                                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo usuario</a>
                        </div>
                    </div>
                    <br>
                    {% if messages %}
                    <div class="row ">
                        <div class="col-lg-10 offset-lg-1 alert alert-success">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            {% if messages %}
                            <ul class="messages">

                            </ul>
                            {% endif %}
                            <table class="table" id="tableAccounts" name="tableAccounts">
                                <thead class="bg-info">
                                <tr>

                                    <td>Username</td>
                                    <td>Apellidos</td>
                                    <td>Nombres</td>
                                    <td>Email</td>
                                    <td>Opciones</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for User in object_list%}
                                <tr>

                                    <td>{{User.username}}</td>
                                    <td>{{User.last_name}}</td>
                                    <td>{{User.first_name}}</td>
                                    <td>{{User.email}}</td>
                                    <td><a href="{% url 'update_user' User.id %}"
                                           class="btn btn-sm btn-success">Editar</a> <a
                                            href="{% url 'delete_user' User.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}