{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log Out</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static '/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8 offset-2 ">
                <div class="card card-info">
    
                    <div class="card-header with-border">
                        Fin de Sesión
                    </div>
    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <center><h5>Gracias por pasar un tiempo de calidad con el sitio hoy</h5></center>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-lg-4 offset-lg-7 text-right">
                                <a href="{% url 'log_in' %}">Iniciar Sesión de nuevo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

<!-- jQuery -->
<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>