{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iniciar sesion</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static '/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

{% block content %}

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            Clinica BAD
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Iniciar sesion</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">

                        <input type="text" class="form-control" placeholder="Usuario" name="username" id="id_username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password"
                            id="id_password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    {% if form.errors %}
                    <br>
                    <div class=" alert alert-danger" role="alert">
                        <p>
                            Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
                        {% for error in form.errors.email %}
                        <p>
                            {{ error }}
                        </p>
                        {%endfor%}
                        {% for error in form.errors.password %}
                        <p>
                            {{ error }}
                        </p>
                        {%endfor%}
                    </div>
                    {% endif %}
                    <br>
                    <div class="row">
                        <div class="col-7">
                            <input type="checkbox" name="remember_me" id="id_remember_me">
                            <label class="form-check-label" for="remember_me">
                                Recordarme
                            </label>
                        </div>
                        <div class="col-5">
                            <button class="btn btn-primary btn-block">Iniciar sesión</button>
                        </div>
                    </div>

                </form>
                <p class="mb-1">
                    <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
                </p>
                <p class="mb-0">
                    <a href="{% url 'sign_up' %}" class="text-center">Registrarme</a>
                </p>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
{% endblock %}