{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restablecer contraseña</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static '/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        Clinica BAD
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Restablecer contrsaseña</p>

            {% if validlink %}
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="form-group col-lg-8 offset-lg-2">
                        <label>Nueva contraseña</label><br>
                        {{form.new_password1}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-lg-8 offset-lg-2">
                        <label>Nueva contraseña (Confirmación)</label><br>
                        {{form.new_password2}}
                    </div>
                </div>

                <div class="row">
                    {{form.helptext}}
                </div>

                {% if form.errors %}

                <br>
                <div class=" alert alert-danger" role="alert">
                    {% for error in form.errors.new_password2 %}
                    <p name="2">
                        {{ error }}
                    </p>
                    {%endfor%}
                </div>
                {% endif %}

                <div class="row justify-content-center">
                    <div class="col-4 align-self-center">
                        <button class="btn btn-primary btn-block">Continuar</button>
                    </div>
                </div>

            </form>
            {% else %}
            <br><br>
            <div class="alert alert-danger" role="alert">
                Enlace invalido: Este enlace ya se utilizó
            </div>
            <br><br><br><br>
            {% endif %}
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
