{% block content %}

    <h4>Restaurar contraseña</h4>

<div>
        <h4>Le hemos enviado por correo electrónico instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó</h4>
        <h4>Deberías recibirlos en breve.</h4>

        <br>

        <h4>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y revise su carpeta de correo no deseado".</h4>
    
    </div>

{% endblock %}
