{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registrar un nuevo usuario</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static '/plugins/icheck-bootstrap/icheck-bootstrap.min.cs' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static '/dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        Clinica BAD
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Registrarse</p>

            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {{ form.username }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user-tag"></span>
                        </div>
                    </div>
                </div>
                {% if form.errors.username %}
                <div class=" alert alert-danger" role="alert">
                    {% for error in form.errors.username %}
                            {{error}}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    {{ form.first_name }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.last_name }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.email }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                {% if form.errors.email %}
                <div class=" alert alert-danger" role="alert">
                    {% for error in form.errors.email %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    {{ form.password1 }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.password2 }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                {% if form.errors.password2 %}
                <div class=" alert alert-danger" role="alert">
                    {% for error in form.errors.password2 %}
                    <p>
                        {{ error }}
                    </p>
                    {%endfor%}
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-5 offset-7 text-right">
                        <button class="btn btn-primary btn-block">Crear cuenta</button>
                    </div>
                </div>

            </form>
            <a href="{% url 'log_in' %}" class="text-center">Ya tengo una cuenta</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>

<!-- jQuery -->
<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>