{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>Detalles de expediente.</h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuDetalle">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Datos Personales
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-body">            
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Primer Nombre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombre1" name="nombre1"
                                                          value="{{ expediente.primer_nombre }}" disabled >
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Segundo Nombre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombre2" name="nombre2"
                                                           value="{{ expediente.segundo_nombre }}" disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Primer Apellido</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="apellido1"
                                                           name="apellido1"
                                                           value="{{ expediente.primer_apellido }}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Segundo Apellido</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="apellido2"
                                                           name="apellido2"
                                                           value="{{ expediente.segundo_apellido }}" disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Género</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.genero }}" required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Estado civil</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.estado_civil }}" required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Apellido de casada</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.apellido_casada }}" required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Fecha de nacimiento</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.fecha_nacimiento }}" required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Teléfono</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.telefono }}" required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">DUI</span>
                                                    </div>
                                                    <input type="text" class="form-control" value="{{ expediente.dui }}"
                                                        required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">NIT</span>
                                                    </div>
                                                    <input type="text" class="form-control" value="{{ expediente.nit }}"
                                                        required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">ISSS</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.isss }}" required disabled>
                                                </div>
                                            </div>

                                            <div class="row row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Usuario</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.nombres }}" required disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <!--Seccion de direccion-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Dirección
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Departamento</span>
                                                    </div>
                                                    <select class="custom-select" id="departamento" name="departamento"
                                                        required disabled>

                                                        {% if departamentos %}
                                                        {% for depart in departamentos %}
                                                        {% if exp.departamento_id_id == depart.id %}
                                                        <option value="{{ depart.id }}" selected>{{
                                                            depart.nombreDepartamento }}
                                                        </option>
                                                        s
                                                        {% endif %}
                                                        <option value="{{ depart.id }}">
                                                            {{ depart.nombreDepartamento }}
                                                        </option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Municipio</span>
                                                    </div>
                                                    <select class="custom-select" id="municipio" name="municipio"
                                                        required disabled>
                                                        <option value="" selected disabled>Elija el municipio
                                                        </option>
                                                        {% if municipios %}
                                                        {% for muni in municipios %}
                                                        {% if exp.municipio_id_id == muni.id %}
                                                        <option value="{{ muni.id }}" selected>{{
                                                            muni.nombreMunicipio }}
                                                        </option>
                                                        {% endif %}
                                                        <option value="{{ muni.id }}"
                                                            data-region="{{ muni.departamento_id_id }}">{{
                                                            muni.nombreMunicipio }}
                                                        </option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Colonia</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.colonia }}" required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Calle</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.calle }}" required disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Numero de casa</span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        value="{{ expediente.casa }}" required disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Seccion de contacto de emergencia-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Contacto de emergencia.
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Nombre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombre_contacto"
                                                        name="nombre_contacto"
                                                        placeholder="Nombre del contacto de emergencia"
                                                        value="{{ famref.nombre_contacto }}" disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Parentesco</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="parentesco"
                                                        name="parentesco" placeholder="Parentesco"
                                                        value="{{ famref.parentesco }}" disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Teléfono</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="telefonoContacto"
                                                        name="telefonoContacto"
                                                        placeholder="Telefono del contacto de emergencia"
                                                        data-inputmask='"mask": "9999-9999"' data-mask
                                                        value="{{ famref.telefono }}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexExpedientes' %}" role="button" class="btn btn-danger">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}