{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsexpedientes/editarExpedientes.js' %}"></script>
<!-- Scripts Referentes a Antecedentes Familiares -->
<script src="{% static 'dist/js/jsantecedentes/indexAntecedentesFamiliares.js' %}"></script>
<script src="{% static 'dist/js/jsantecedentes/ValidacionesAntecedentesFamiliares.js' %}"></script>
<!-- Scripts Referentes a Antecedentes Medicos -->
<script src="{% static 'dist/js/jsantecedentes/indexAntecedentesMedicos.js' %}"></script>
<script src="{% static 'dist/js/jsantecedentes/ValidacionesAntecedentesMedicos.js' %}"></script>
<!-- Scripts Referentes a Antecedentes Quirurgicos -->
<script src="{% static 'dist/js/jsantecedentes/indexAntecedentesQuirurgicos.js' %}"></script>
<script src="{% static 'dist/js/jsantecedentes/ValidacionesAntecedentesQuirurgicos.js' %}"></script>
<!-- Scripts Referentes a Medicacion Actual -->
<script src="{% static 'dist/js/jsantecedentes/indexMedicacionActual.js' %}"></script>
<script src="{% static 'dist/js/jsantecedentes/ValidacionesMedicacionActual.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}
<br>
<br>
<br>
<!--====================================================================================================
                    VISTA QUE POSEE DIFERENTES TABS PARA LOS DIFERENTES FORMULARIOS DE
				  EDITAR INFORMACION GENERAL, AGREGAR ANTECEDENTES FAMILIARES Y PERSONALES
====================================================================================================-->
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">
                <div class="card-header with-border">
                    <h5>Editar expediente del paciente.</h5>
                </div>
                <div class="card-body">
                    <!--Seccion de pestañas o nav-tabs   -->
                    <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                        {% if perms.personas.expediente_control %}
                        <li class="nav-item"><a class="nav-link active" id="custom-tabs-three-infoGeneral-tab"
                                data-toggle="pill" href="#custom-tabs-three-infoGeneral" role="tab"
                                aria-controls="custom-tabs-three-infoGeneral"
                                aria-selected="true">&nbsp;&nbsp;Informacion General</a>
                        </li>
                        {% endif %}
                        {% if perms.consultas.consultas_editar %}
                        <li class="nav-item"><a class="nav-link active" id="custom-tabs-three-antePersonal-tab"
                                data-toggle="pill" href="#custom-tabs-three-antePersonal" role="tab"
                                aria-controls="custom-tabs-three-antePersonal" aria-selected="false">Antecedentes
                                Personales</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" id="custom-tabs-three-anteFamiliar-tab"
                            data-toggle="pill" href="#custom-tabs-three-anteFamiliar" role="tab"
                            aria-controls="custom-tabs-three-anteFamiliar" aria-selected="false">Antecedentes
                            Familiares</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content" id="custom-tabs-three-tabContent">
                        <!--Sección de div que contienen los include que hacen referencia a las distintas vistas que contienen los tabs requeridos-->
                        {% if perms.personas.expediente_control %}
                        {% include 'expediente/tab_infogeneral_editar.html' %}
                        {% endif %}

                        {% if perms.consultas.consultas_editar %}
                        {% include 'antecedentes/antecedentes_familiares.html' %}
                        {% include 'antecedentes/antecedentes_personales.html' %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}