{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsexpedientes/indexExpedientes.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}

<br>
<br>
<br>
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card card-info">
            {% if paciente %}
            <div class="card-header">
                Mi Expediente
            </div>
            {% else %}
            <div class="card-header">
                Listado de expedientes
            </div>
            {% endif %}
            <div class="card-body">
                {% if perms.personas.expediente_control %}
                <div class="row">
                    <div class="col-lg-3 offset-lg-9 text-right">
                        <a class="btn btn-primary" href="{% url 'expediente_crear' %}" role="button">
                            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Expediente</a>
                    </div>
                </div>
                <br>
                {% endif %}
                <div class="row">
                    <div class="col align-self-center">
                        {% if paciente %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="miExpediente"
                                   name="tablaExpedientes">
                                {% else %}
                                <table class="table table-bordered table-striped" id="tablaExpedientes"
                                       name="tablaExpedientes">
                                    {% endif %}
                                    <thead class="bg-info">
                                    <tr>
                                        <th>Codigo expediente</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Genero</th>
                                        <th>Area de residencia</th>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if expediente %}
                                    {% for expedientesregistrados in expediente %}
                                    <tr>
                                        <td> {{ expedientesregistrados.NumExp }}</td>
                                        <!--numero de expediente esta en la tabla paciente-->
                                        <td> {{ expedientesregistrados.id_persona.primer_nombre }}
                                            {{ expedientesregistrados.id_persona.segundo_nombre }}
                                        </td>
                                        <td>{{ expedientesregistrados.id_persona.primer_apellido }}
                                            {{ expedientesregistrados.id_persona.segundo_apellido }}
                                        </td>
                                        <td> {{ expedientesregistrados.id_persona.genero }}</td>
                                        <td> {{ expedientesregistrados.id_persona.departamento_id.nombreDepartamento }}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    Opciones <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li> {% if perms.consultas.examenes_ver %}
                                                        <a class="dropdown-item"
                                                           href="{% url 'examenes_respondidos_view' expedientesregistrados.id %}">Examenes</a>
                                                        {% endif %}
                                                    </li>
                                                    <li>{% if perms.consultas.consultas_ver %}
                                                        <a class="dropdown-item"
                                                           href="{% url 'historial_consulta' expedientesregistrados.id %}">Consultas</a>
                                                        {% endif %}
                                                    </li>
                                                    <li>{% if perms.personas.expediente_control or perms.consultas.consultas_editar %}
                                                        <a class="dropdown-item"
                                                           href="{% url 'expediente_editar' expedientesregistrados.id_persona_id %}">Actualizar</a>
                                                        {% endif %}
                                                    </li>
                                                    <li>{% if perms.personas.expediente_control or perms.personas.expedientes_index %}
                                                        <a class="dropdown-item"
                                                           href="{% url 'expediente_detalle' expedientesregistrados.id_persona_id %}">Detalles</a>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
