{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsexpedientes/ingreExpedientes.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>Ingresar expediente del paciente.</h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Datos Personales
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Primer Nombre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombre1" name="nombre1"
                                                           placeholder="Ingrese el primer nombre" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Segundo Nombre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombre2" name="nombre2"
                                                           placeholder="Ingrese el segundo nombre" required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Primer Apellido</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="apellido1"
                                                           name="apellido1"
                                                           placeholder="Ingrese su primer apellido" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Segundo Apellido</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="apellido2"
                                                           name="apellido2"
                                                           placeholder="Ingrese su segundo apellido" required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Género</span>
                                                    </div>
                                                    <select class="custom-select" id="genero" name="genero" required>
                                                        <option value="" selected >Elija su genero</option>
                                                        <option value="Masculino">Masculino</option>
                                                        <option value="Femenino">Femenino</option>
                                                        <option value="Otro">Otro</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Estado civil</span>
                                                    </div>
                                                    <select class="custom-select" name="estadocivil" id="estadocivil">
                                                        <option value="" selected >Elija su estado civil</option>
                                                        <option>Soltero</option>
                                                        <option>Casado</option>
                                                        <option>Divorciado</option>
                                                        <option>Viudo</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Apellido de casada</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="apellido_casada"
                                                           name="apellido_casada"
                                                           placeholder="Ingrese el apellido de casada (Opcional)">
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Fecha de nacimiento</span>
                                                    </div>
                                                    <input type="date" class="form-control" id="fecha_nacimiento"
                                                           name="fecha_nacimiento"
                                                           placeholder="Ingrese fecha de nacimiento"
                                                           data-mask="" required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Teléfono</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="telefono"
                                                           name="telefono"
                                                           placeholder="Ingrese el número de teléfono del paciente"
                                                           data-inputmask='"mask": "9999-9999"' data-mask>
                                                </div>
                                            </div>


                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">DUI</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="dui" name="dui"
                                                           placeholder="Ingrese el DUI"
                                                           data-inputmask='"mask": "99999999-9"'
                                                           data-mask required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">NIT</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nit" name="nit"
                                                           placeholder="Ingrese el NIT"
                                                           data-inputmask='"mask": "9999-999999-999-9"'
                                                           data-mask required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">ISSS</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="isss" name="isss"
                                                           placeholder="Ingrese el numero de isss"
                                                           data-inputmask='"mask": "999999999"' data-mask required>
                                                </div>
                                            </div>

                                            <div class="row row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Usuario</span>
                                                    </div>
                                                    <select class="custom-select" id="usersis" name="usersis" required>
                                                        <option value="" selected >Elija el usuario</option>
                                                        {% if usuarios %}
                                                        {% for userdispo in usuarios %}
                                                        <option value="{{ userdispo.id }}">{{ userdispo.first_name }}
                                                        </option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--Seccion de direccion-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Dirección
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Departamento</span>
                                                    </div>
                                                    <select class="custom-select" id="departamento" name="departamento"
                                                            required>
                                                        <option value="" selected disabled>Elija el departamento
                                                        </option>
                                                        {% if departamentos %}
                                                        {% for depart in departamentos %}
                                                        <option value="{{ depart.id }}">{{ depart.nombreDepartamento}}
                                                        </option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Municipio</span>
                                                    </div>
                                                    <select class="custom-select" id="municipio" name="municipio"
                                                            required>
                                                        <option value="" selected disabled>Elija el municipio</option>
                                                        {% if municipios %}
                                                        {% for muni in municipios %}
                                                        <option value="{{ muni.id }}"
                                                                data-region="{{ muni.departamento_id_id }}">
                                                            {{muni.nombreMunicipio }}
                                                        </option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Colonia</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="colonia" name="colonia"
                                                           placeholder="Ingrese la colonia" data-mask="" required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Calle</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="calle" name="calle"
                                                           placeholder="Ingrese la calle" data-mask="" required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Numero de casa</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="casa" name="casa"
                                                           placeholder="Ingrese el numero de la casa" data-mask=""
                                                           required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Seccion de contacto de emergencia-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Contacto de emergencia
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Nombre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombre_contacto"
                                                           name="nombre_contacto"
                                                           placeholder="Nombre del contacto de emergencia">
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Parentesco</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="parentesco"
                                                           name="parentesco" placeholder="Parentesco">
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Teléfono</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="telefonoContacto"
                                                           name="telefonoContacto"
                                                           placeholder="Telefono del contacto de emergencia"
                                                           data-inputmask='"mask": "9999-9999"'
                                                           data-mask>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexExpedientes' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}