<!--Inicio de la pestaña para formulario de editar información general de expediente-->
<div class="tab-pane fade active show" id="custom-tabs-three-infoGeneral" role="tabpanel"
    aria-labelledby="custom-tabs-three-infoGeneral-tab">

    <div class="card-body m">
        <div class="row">
            <div class="col-12">
                <form method="post" name="formuEditar">
                    {% csrf_token %}

                    <!-- Datos personales-->
                    <div class="row">
                        <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-edit">
                                        Datos Personales
                                    </i>
                                </h3>
                            </div>
                            <div class="card-body">
                                   <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Primer Nombre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombre1" name="nombre1"
                                                          value="{{ exp.primer_nombre }}" required >
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Segundo Nombre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombre2" name="nombre2"
                                                           value="{{ exp.segundo_nombre }}" required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Primer Apellido</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="apellido1"
                                                           name="apellido1"
                                                           value="{{ exp.primer_apellido }}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Segundo Apellido</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="apellido2"
                                                           name="apellido2"
                                                           value="{{ exp.segundo_apellido }}" required>
                                                </div>
                                            </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Género</span>
                                        </div>
                                        <select class="custom-select" id="genero" name="genero">
                                            <option value="{{ exp.genero }}" selected>{{ exp.genero }}</option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Estado civil</span>
                                        </div>
                                        <select class="custom-select" name="estadocivil" id="estadocivil">
                                            <option selected>{{ exp.estado_civil }}</option>
                                            <option>Soltero</option>
                                            <option>Casado</option>
                                            <option>Divcorciado</option>
                                            <option>Viudo</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Apellido de casada</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido_casada"
                                            name="apellido_casada" value="{{ exp.apellido_casada }}"
                                            placeholder="Ingrese el apellido de casada (Opcional)">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Fecha de nacimiento</span>
                                        </div>
                                        <input type="date" class="form-control" id="fecha_nacimiento"
                                            name="fecha_nacimiento" placeholder="Ingrese fecha de nacimiento"
                                            data-mask="" required value="{{ exp.fecha_nacimiento }}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Teléfono</span>
                                        </div>
                                        <input type="text" class="form-control" id="telefono" name="telefono"
                                            placeholder="Ingrese el número de teléfono del paciente"
                                            data-inputmask='"mask": "9999-9999"' data-mask value="{{exp.telefono}}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">DUI</span>
                                        </div>
                                        <input type="text" class="form-control" id="dui" name="dui"
                                            placeholder="Ingrese el DUI" data-inputmask='"mask": "99999999-9"' data-mask
                                            required value="{{ exp.dui }}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">NIT</span>
                                        </div>
                                        <input type="text" class="form-control" id="nit" name="nit"
                                            placeholder="Ingrese el NIT" data-inputmask='"mask": "9999-999999-999-9"'
                                            data-mask required value="{{ exp.nit }}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">ISSS</span>
                                        </div>
                                        <input type="text" class="form-control" id="isss" name="isss"
                                            placeholder="Ingrese el numero de isss" data-inputmask='"mask": "999999999"'
                                            data-mask required value="{{ exp.isss }}">
                                    </div>
                                </div>

                                <div class="row row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Usuario</span>
                                        </div>
                                        <select class="custom-select" id="usersis" name="usersis" required>
                                            <option value="{{exp.auth_id_id}}" selected>{{exp.auth_id.first_name}}</option>
                                            {% if usuarios %}
                                            {% for userdispo in usuarios %}
                                            <option value="{{ userdispo.id }}">{{ userdispo.first_name }}
                                            </option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!--Seccion de direccion-->
                    <div class="row">
                        <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-edit">
                                        Dirección
                                    </i>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Departamento</span>
                                        </div>
                                        <select class="custom-select" id="departamento" name="departamento" required>

                                            {% if departamentos %}
                                            {% for depart in departamentos %}
                                            {% if exp.departamento_id_id == depart.id %}
                                            <option value="{{ depart.id }}" selected>{{depart.nombreDepartamento }}</option>
                                            
                                            {% endif %}
                                            <option value="{{ depart.id }}">{{ depart.nombreDepartamento }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <div class="row row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Municipio</span>
                                        </div>
                                        <select class="custom-select" id="municipio" name="municipio" required>
                                            <option value="" selected disabled>Elija el municipio
                                            </option>
                                            {% if municipios %}
                                            {% for muni in municipios %}
                                            {% if exp.municipio_id_id == muni.id %}
                                            <option value="{{ muni.id }}" selected>{{muni.nombreMunicipio }}</option>
                                            {% endif %}
                                            <option value="{{ muni.id }}" data-region="{{ muni.departamento_id_id }}">{{muni.nombreMunicipio }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Colonia</span>
                                        </div>
                                        <input type="text" class="form-control" id="colonia" name="colonia"
                                            placeholder="Ingrese la colonia" data-mask="" required
                                            value="{{exp.colonia}}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Calle</span>
                                        </div>
                                        <input type="text" class="form-control" id="calle" name="calle"
                                            placeholder="Ingrese la calle" data-mask="" required value="{{exp.calle}}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Numero de casa</span>
                                        </div>
                                        <input type="text" class="form-control" id="casa" name="casa"
                                            placeholder="Ingrese el numero de la casa" data-mask="" value="{{exp.casa}}"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Seccion de contacto de emergencia-->
                    <div class="row">
                        <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-edit">
                                        Contacto de Emergencia
                                    </i>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre_contacto"
                                            name="nombre_contacto" placeholder="Nombre del contacto de emergencia"
                                            value="{{ famref.nombre_contacto }}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Parentesco</span>
                                        </div>
                                        <input type="text" class="form-control" id="parentesco" name="parentesco"
                                            placeholder="Parentesco" value="{{ famref.parentesco }}">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Teléfono</span>
                                        </div>
                                        <input type="text" class="form-control" id="telefonoContacto"
                                            name="telefonoContacto" placeholder="Telefono del contacto de emergencia"
                                            data-inputmask='"mask": "9999-9999"' data-mask
                                            value="{{ famref.telefono }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 offset-lg-7 text-right">
                <a href="{% url 'indexExpedientes' %}" role="button" class="btn btn-danger">Cancelar</a>
                <button type="submit" id="guardar" name="guardar" class="btn btn-info">Actualizar
                </button>
            </div>
        </div>

    </div>
</div>