{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/oriMicro.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>
                        Editar los resultados del exámen de orina microscópico del paciente
                        {{ ordenP.id_consulta.id_paciente.id_persona.primer_nombre}} {{ ordenP.id_consulta.id_paciente.id_persona.primer_apellido}}.
                    </h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Resultados del exámen
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Uretral</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="uretral" name="uretral"
                                                           value="{{orinamicroE.uretral}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Urotelio</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="urotelio" name="urotelio"
                                                           value="{{orinamicroE.urotelio}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Renal</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="renal" name="renal"
                                                           value="{{orinamicroE.renal}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Leucocitos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="leucocitos" name="leucocitos"
                                                           value="{{orinamicroE.leucocitos}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Piocitos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="piocitos" name="piocitos"
                                                           value="{{orinamicroE.piocitos}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Eritrocitos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="eritrocitos" name="eritrocitos"
                                                           value="{{orinamicroE.eritrocitos}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Bacteria</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="bacteria" name="bacteria"
                                                           value="{{orinamicroE.bacteria}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Parasitos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="parasitos" name="parasitos"
                                                           value="{{orinamicroE.parasitos}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Funguria</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="funguria" name="funguria"
                                                           value="{{orinamicroE.funguria}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Filamento de muncia</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="filamento" name="filamento"
                                                           value="{{orinamicroE.filamento_de_muncia}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Proteina uromocoide</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="proteina" name="proteina"
                                                           value="{{orinamicroE.proteina_uromocoide}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Cilindros</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="cilindros" name="cilindros"
                                                           value="{{orinamicroE.cilindros}}" required>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexLaboratorioRepondidos' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}