<div class="modal fade" id="modal_editar_signosVitales">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Boton de cerrar modal-->
            <div class="col-sm-12 justify-content-right">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <!-- Cuerpo modal-->
            <div class="modal-body">
                <div class="col-12">

                    <div class="card card-info card-outline border-info mb-3 ">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Editar Signos Vitales</h5>
                        </div>
                        <div class="card-body">
                            <!--Form para agregar Signos Vitales-->
                            <form action="{% url 'signos_editar' consulta.id %}" method="post" name="formEditarReceta">
                                {% csrf_token %}
                                <input type="hidden" id="identificador_editar_signos" name="identificador_editar_signos"
                                    value="">
                                <div style="column-count: 2;">
                                    <br>
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Temperatura</span>
                                            </div>
                                            <input type="number" id="temperatura_editar" name="temperatura_editar"
                                                value="" step="0.01" min="0.01" max="55.00" placeholder="0.00" required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Frecuencia Cardiaca</span>
                                            </div>
                                            <input type="number" id="fc_editar" name="fc_editar" value=""
                                                placeholder="0" min="0" max="300" step="1" required>
                                        </div>
                                    </div>

                                    <br>
                                    <br>

                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Frecuencia Respiratoria</span>
                                            </div>
                                            <input required type="number" placeholder="0" class="form-control"
                                                id="fr_editar" name="fr_editar" value="" max="100" min="0" step="1"
                                                required>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Presión arterial</span>
                                            </div>
                                            <input type="text" placeholder="99/99" data-inputmask='"mask": "99/99"'
                                                data-mask class="form-control" id="pa_editar" name="pa_editar" value="">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Peso</span>
                                            </div>
                                            <!--Peso en Kg--->
                                            <input required type="number" placeholder="0.00" class="form-control"
                                                id="peso_editar" name="peso_editar" value="" min="0.0" max="8000.00"
                                                step="0.01" required>
                                        </div>
                                    </div>
                                </div>

                                <!-- Inicio Botones-->
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-8 text-right">
                                        <button type="submit" id="editarSigno" name="editarSigno"
                                            class="btn btn-info">Editar</button>
                                    </div>
                                </div>
                                <!--Fin Botones-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>