{% if perms.personas.signos_editar %}
<div class="tab-pane fade active show" id="tab_signos_vitales_contenido" role="tabpanel"
    aria-labelledby="tab_signos_vitales_contenido">
    {% else %}
    <div class="tab-pane fade" id="tab_signos_vitales_contenido" role="tabpanel"
        aria-labelledby="tab_signos_vitales_contenido">
        {% endif %}
        <div class="card-body">
            {% if perms.personas.signos_editar %}
            <div class="col-12">
                <p>
                    {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                    <button disabled class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_signo" aria-expanded="false">
                        <span aria-hidden="true"></span> Agregar Signos Vitales &nbsp;
                    </button>
                    {% else %}
                    <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_signo" aria-expanded="false">
                        <span aria-hidden="true"></span> Agregar Signos Vitales &nbsp;
                    </button>
                    {% endif %}
                    <a href="{% url 'indexExpedientes' %}" role="button"
                        class="btn btn-bg btn-secondary offset-lg-7">Regresar</a>
                </p>
                <div class="collapse" id="formulario_signo">
                    <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Registro de Signos Vitales</h5>
                        </div>
                        <div class="card-body">

                            <!--Form para agregar Signos Vitales-->
                            <form action="{% url 'signos_crear' consulta.id %}" method="post"
                                name="formRegistrarReceta">
                                {% csrf_token %}
                                <div style="column-count: 2;">
                                    <br>
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Temperatura</span>
                                            </div>
                                            <input type="number" id="temperatura" name="temperatura" value=""
                                                step="0.01" min="0.01" max="55.00" placeholder="0.00" required>
                                            <!--55 grados es el max soportado por un humano (vivo)-->
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Frecuencia Cardiaca</span>
                                            </div>
                                            <input type="number" id="fc" name="fc" value="" placeholder="0" min="0"
                                                max="300" step="1" required>
                                        </div>
                                    </div>

                                    <br>
                                    <br>

                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Frecuencia Respiratoria</span>
                                            </div>
                                            <input required type="number" placeholder="0" class="form-control" id="fr"
                                                name="fr" value="" max="100" min="0" step="1" required>
                                            <!--los bebes respiran hasta 60 veces por minuto!! :v -->
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Presión arterial</span>
                                            </div>
                                            <input type="text" placeholder="99/99" data-inputmask='"mask": "99/99"'
                                                data-mask class="form-control" id="pa" name="pa" value="">
                                            <!-- Por favor aplicar MASCARA como indica el PLACEHOLDER :D Campo No obligatorio-->
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text ">Peso</span>
                                            </div>
                                            <!--Peso en Kg--->
                                            <input required type="number" placeholder="0.00" class="form-control"
                                                id="peso" name="peso" value="" min="0.0" max="8000.00" step="0.01"
                                                required>
                                            <!--segun Wikipedia el hombre mas goldito del mundo pesaba 1400 libras (635kg)-->
                                        </div>
                                    </div>
                                </div>

                                <!-- Inicio Botones-->
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-8 text-right">
                                        <a href="" role="button" class="btn btn-danger" data-toggle="collapse"
                                            data-target="#formulario_signo" aria-expanded="false">Cancelar</a>
                                        <button type="submit" id="guardarSigno" name="guardarSigno"
                                            class="btn btn-info">Guardar</button>
                                    </div>
                                </div>
                                <!--Fin Botones-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal para editar Signos Vitales-->
            <div class="container-fluid" class="contenedor_editar">
                {% include 'signosvitales/signosVitales_editar.html' %}
            </div>
            {% endif %}
            <!--DataTable de Signos Vitales-->
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline border-secondary ">
                        <div class="card-header">
                            <h3 class="card-title">
                                Cuadro de Signos Vitales
                            </h3>
                        </div>
                        <div class="row">
                            <div class="card-body col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="tableSignosVitales"
                                        name="tableSignosVitales" style="width: 100%;">
                                        <thead class="bg-secondary">
                                            <tr>
                                                <td>Fecha</td>
                                                <td>T (C)</td>
                                                <td>FC (l/m)</td><!-- Falta Verificar si abreviatura es correcta -->
                                                <td>FR (r/m)</td><!-- Falta Verificar si abreviatura es correcta -->
                                                <td>PA (mm/Hg)</td>
                                                <td>Peso (Kg)</td>
                                                <td>Opciones</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for signo in consulta.id_paciente.signovital_set.all %}
                                            <tr>
                                                <td>{{signo.fecha}}</td>
                                                <!-- Falta formatear (Frontend), pero se debe ver la hora -->
                                                <td>{{signo.temperatura}}</td>
                                                <td>{{signo.frecuencia_cardiaca}}</td>
                                                <td>{{signo.frecuencia_respiratoria}}</td>
                                                <td>{% if signo.presion_arterial %}{{signo.presion_arterial}}{% else %}
                                                    --
                                                    {% endif %}</td>
                                                <td>{{signo.peso}}</td>
                                                {% if perms.personas.signos_editar %}
                                                <td>
                                                    <!--no es necesario el Ver, se muestra todo en el Cuadro-->
                                                    {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                                                    <button disabled type="button"
                                                        data-target="#modal_editar_signosVitales"
                                                        onclick="mostrar_formulario_editar_signos('{{signo.temperatura}}','{{signo.frecuencia_cardiaca}}','{{signo.frecuencia_respiratoria}}','{{signo.presion_arterial}}','{{signo.peso}}','{{signo.id}}')"
                                                        data-toggle="modal" id="signos_editar" name="signos_editar"
                                                        class="btn btn-sm btn-success">Actualizar</button>
                                                    <button disabled href="{% url 'signos_eliminar' signo.id %}"
                                                        class="btn btn-sm btn-danger">Eliminar</button>
                                                    {% else %}
                                                    <button type="button" data-target="#modal_editar_signosVitales"
                                                        onclick="mostrar_formulario_editar_signos('{{signo.temperatura}}','{{signo.frecuencia_cardiaca}}','{{signo.frecuencia_respiratoria}}','{{signo.presion_arterial}}','{{signo.peso}}','{{signo.id}}')"
                                                        data-toggle="modal" id="signos_editar" name="signos_editar"
                                                        class="btn btn-sm btn-success">Actualizar</button>
                                                    <a href="{% url 'signos_eliminar' signo.id %}"
                                                        class="btn btn-sm btn-danger">Eliminar</a>
                                                    {% endif %}
                                                </td>
                                                {% else %}
                                                <td>--</td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>