{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsempleados/editarEmpleados.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>Datos de empleado.</h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">

                           <!-- Nombres -->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Primer Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre1" name="nombre1"
                                            value="{{persona.primer_nombre}}"Disabled   >
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Segundo Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre2" name="nombre2"
                                            value="{{persona.segundo_nombre}}"Disabled   >
                                    </div>
                                </div>

                                <!--apellidos-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Primer apellido</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido1" name="apellido1"
                                            value="{{persona.primer_apellido}}"Disabled   >
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Segundo Apellidos</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido2" name="apellido2"
                                             value="{{persona.segundo_apellido}}"Disabled  >
                                    </div>
                                </div>

                            <!--app casada-->
                            <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Estado civil</span>
                                        </div>
                                        <input type="text" class="form-control" id="estadocivil" name="estadocivil"
                                              value="{{persona.estado_civil}}"Disabled >
                                    </div>
                                </div>
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Apellido de casada</span>
                                    </div>
                                    <input type="text" class="form-control" id="apeCasada" name="apeCasada"
                                           value="{{persona.apellido_casada}}" disabled>
                                </div>
                            </div>

                            <!--Genero-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Género</span>
                                    </div>
                                    <input type="text" class="form-control" id="genero" name="apeCasada"
                                           value="{{persona.genero}}" Disabled>
                                </div>
                            </div>

                            <!--Fecha nacimiento-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Fecha de nacimiento</span>
                                    </div>
                                    <input type="text" class="form-control" id="fechaNaci" name="fechaNaci"
                                           placeholder="Ingrese fecha de nacimiento" data-mask=""
                                           value="{{persona.fecha_nacimiento}}" required disabled>
                                </div>
                            </div>

                            <!--Telefono-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Teléfono</span>
                                    </div>
                                    <input type="text" class="form-control" id="telefono" name="telefono"
                                           placeholder="Ingrese el número de teléfono del paciente"
                                           data-inputmask='"mask": "9999-9999"' data-mask
                                           value="{{persona.telefono}}" disabled>
                                </div>
                            </div>

                            <!--Direccion-->
                                 <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Departamento</span>
                                        </div>
                                        <select class="custom-select" id="departamento" name="departamento" Disabled>

                                            {% if departamentos %}
                                            {% for depart in departamentos %}
                                            {% if persona.departamento_id_id == depart.id  %}
                                            <option value="{{ depart.id }}" selected >{{ depart.nombreDepartamento }}</option>
                                            {% endif %}
                                            <option value="{{ depart.id }}">{{ depart.nombreDepartamento }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Municipio</span>
                                        </div>
                                        <select class="custom-select" id="municipio" name="municipio" Disabled>
                                            <option value="" selected disabled>Elija el municipio</option>
                                            {% if municipios %}
                                            {% for muni in municipios %}
                                            {% if persona.municipio_id_id == muni.id  %}
                                            <option value="{{ muni.id }}" selected disabled>{{ muni.nombreMunicipio }}</option>
                                            {% endif %}
                                            <option value="{{ muni.id }}" data-region="{{ muni.departamento_id_id }}">{{ muni.nombreMunicipio }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Calle</span>
                                        </div>
                                        <input type="text" class="form-control" id="calle" name="calle" value = "{{persona.calle}}" Disabled>
                                    </div>
                                </div>
                                 <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Colonia</span>
                                        </div>
                                        <input type="text" class="form-control" id="colonia" name="colonia" value = "{{persona.colonia}}" Disabled>
                                    </div>
                                </div>
                                 <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Numero de casa</span>
                                        </div>
                                        <input type="text" class="form-control" id="casa" name="casa" value = "{{persona.casa}}" Disabled>
                                    </div>
                                </div>

                            <!--DUI-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">DUI</span>
                                    </div>
                                    <input type="text" class="form-control" id="dui" name="dui"
                                           placeholder="Ingrese el DUI" data-inputmask='"mask": "99999999-9"'
                                           data-mask value="{{persona.dui}}" required disabled>
                                </div>
                            </div>

                            <!--NIT-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">NIT</span>
                                    </div>
                                    <input type="text" class="form-control" id="nit" name="nit"
                                           placeholder="Ingrese el NIT"
                                           data-inputmask='"mask": "9999-999999-999-9"'
                                           data-mask value="{{persona.nit}}" required disabled>
                                </div>
                            </div>

                            <!--ISS-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ISSS</span>
                                    </div>
                                    <input type="text" class="form-control" id="isss" name="isss"
                                           placeholder="Ingrese el numero de isss"
                                           data-inputmask='"mask": "999999999"' data-mask
                                           value="{{persona.isss}}" required disabled>
                                </div>
                            </div>

                            <!--Usuario Sistema-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Usuario</span>
                                    </div>
                                    {% if usuarios %}
                                    {% for userdispo in usuarios %}
                                    {% if persona.auth_id_id == userdispo.id %}
                                    <input type="text" class="form-control" id="usersis" name="usersis"
                                           value="{{ userdispo.first_name  }}" Disabled>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!--Tipo de empleado-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tipo de empleado</span>
                                    </div>
                                    <input type="text" class="form-control" id="tipEmpl" name="tipEmpl"
                                           value="{{empleado.tipo_empleado}}" Disabled>
                                </div>
                            </div>

                            <!--Sueldo-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Sueldo</span>
                                    </div>
                                    <input type="text" class="form-control" id="sueldo" name="sueldo"
                                           placeholder="Ingrese el sueldo" value="{{empleado.sueldo}}"
                                           required disabled>
                                </div>
                            </div>

                            <!--Cargo-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Cargo</span>
                                    </div>
                                    <input type="text" class="form-control" id="cargo" name="cargo"
                                           value="{{empleado.cargo}}" placeholder="Ingrese el cargo" disabled>
                                </div>
                            </div>

                            <!--Fecha contratacion-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Fecha de contratacion</span>
                                    </div>
                                    <input type="text" class="form-control" id="fechacontra" name="fechacontra"
                                           placeholder="Ingrese fecha de Contratación" data-mask=""
                                           value="{{empleado.fecha_contratacion}}" required disabled>
                                </div>
                            </div>

                            <!--Estado-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Estado</span>
                                    </div>
                                    {% if empleado.estado == True %}
                                    <input type="text" class="form-control" id="estado" name="estado" value="Activo"
                                           Disabled>
                                    {% else %}
                                    <input type="text" class="form-control" id="estado" name="estado" value="Inactivo"
                                           Disabled>
                                    {% endif %}

                                </div>
                            </div>

                            <!--Clinica-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Clínica</span>
                                    </div>
                                    {% if clinicas %}
                                    {% for clini in clinicas %}
                                    {% if empleado.id_clinica_id == clini.id %}
                                    <input type="text" class="form-control" id="clinica_id" name="clinica_id"
                                           value="{{clini.nombre}}" Disabled>
                                    {% else %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!--Especialidad-->
                            <div class="row form-group">
                                <div class="input-group col-lg-10 offset-lg-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Especialidad</span>
                                    </div>
                                    {% if especialidades %}
                                    {% for espec in especialidades %}
                                    {% if empleado.id_especialidad_id == espec.id %}
                                    <input type="text" class="form-control" id="especialidad_id" name="especialidad_id"
                                           value="{{espec.nombre_especialidad }}" Disabled>
                                    {% else %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexEmpleados' %}" role="button" class="btn btn-danger">Volver</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}