{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsempleados/editarEmpleados.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>Editar datos de empleado.</h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar">
                                {% csrf_token %}

                                <!-- Nombres -->
                                <!-- Nombres -->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Primer Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre1" name="nombre1"
                                            value="{{persona.primer_nombre}}"  required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Segundo Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre2" name="nombre2"
                                            value="{{persona.segundo_nombre}}"   required>
                                    </div>
                                </div>

                                <!--apellidos-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Primer apellido</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido1" name="apellido1"
                                            value="{{persona.primer_apellido}}" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Segundo Apellidos</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido2" name="apellido2"
                                             value="{{persona.segundo_apellido}}" required>
                                    </div>
                                </div>

                                <!--app casada-->
                                 <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Estado civil</span>
                                        </div>
                                        <input type="text" class="form-control" id="estadocivil" name="estadocivil"
                                              value="{{persona.estado_civil}}" >
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Apellido de casada</span>
                                        </div>
                                        <input type="text" class="form-control" id="apeCasada" name="apeCasada"
                                               placeholder="Ingrese el apellido de casada (Opcional)"
                                               value="{{persona.apellido_casada}}">
                                    </div>
                                </div>

                                <!--Genero-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Género</span>
                                        </div>
                                        <select class="custom-select" id="genero" name="genero" required>
                                            {% if persona.genero == 'Masculino' %}
                                            <option value="Masculino" selected>Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro">Otro</option>
                                            {% elif persona.genero == 'Femenino'%}
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino" selected>Femenino</option>
                                            <option value="Otro">Otro</option>
                                            {% else %}
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro" selected>Otro</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--Fecha nacimiento-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Fecha de nacimiento</span>
                                        </div>
                                        <input type="date" class="form-control" id="fechaNaci" name="fechaNaci"
                                               placeholder="Ingrese fecha de nacimiento" data-mask=""
                                               value="{{persona.fecha_nacimiento}}" required>
                                    </div>
                                </div>

                                <!--Telefono-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Teléfono</span>
                                        </div>
                                        <input type="text" class="form-control" id="telefono" name="telefono"
                                               placeholder="Ingrese el número de teléfono del paciente"
                                               data-inputmask='"mask": "9999-9999"' data-mask
                                               value="{{persona.telefono}}">
                                    </div>
                                </div>

                                <!--Direccion-->
                                  <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Departamento</span>
                                        </div>
                                        <select class="custom-select" id="departamento" name="departamento" required>
                                            
                                            {% if departamentos %}
                                            {% for depart in departamentos %}
                                            {% if persona.departamento_id_id == depart.id  %}
                                            <option value="{{ depart.id }}" selected >{{ depart.nombreDepartamento }}</option>
                                            {% endif %}
                                            <option value="{{ depart.id }}">{{ depart.nombreDepartamento }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Municipio</span>
                                        </div>
                                        <select class="custom-select" id="municipio" name="municipio" required>
                                            <option value="" selected disabled>Elija el municipio</option>
                                            {% if municipios %}
                                            {% for muni in municipios %}
                                            {% if persona.municipio_id_id == muni.id  %}
                                            <option value="{{ muni.id }}" selected >{{ muni.nombreMunicipio }}</option>
                                            {% endif %}
                                            <option value="{{ muni.id }}" data-region="{{ muni.departamento_id_id }}">{{ muni.nombreMunicipio }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                             <span class="input-group-text">Calle</span>
                                        </div>
                                        <input type="text" class="form-control" id="calle" name="calle" placeholder="Ingrese la calle"
                                               value="{{persona.calle}}" data-mask="" required>
                                    </div>
                                </div>
                                 <div class=" row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                             <span class="input-group-text">Colonia</span>
                                        </div>
                                        <input type="text" class="form-control" id="colonia" name="colonia" placeholder="Ingrese la colonia"
                                               value="{{persona.colonia}}" data-mask="" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                             <span class="input-group-text">Numero de casa</span>
                                        </div>
                                        <input type="text" class="form-control" id="casa" name="casa" placeholder="Ingrese el numero de la casa"
                                               value="{{persona.casa}}" data-mask="" required>
                                    </div>    
                                </div>

                                <!--DUI-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">DUI</span>
                                        </div>
                                        <input type="text" class="form-control" id="dui" name="dui"
                                               placeholder="Ingrese el DUI" data-inputmask='"mask": "99999999-9"'
                                               data-mask value="{{persona.dui}}" required>
                                    </div>
                                </div>

                                <!--NIT-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">NIT</span>
                                        </div>
                                        <input type="text" class="form-control" id="nit" name="nit"
                                               placeholder="Ingrese el NIT"
                                               data-inputmask='"mask": "9999-999999-999-9"'
                                               data-mask value="{{persona.nit}}" required>
                                    </div>
                                </div>

                                <!--ISS-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">ISSS</span>
                                        </div>
                                        <input type="text" class="form-control" id="isss" name="isss"
                                               placeholder="Ingrese el numero de isss"
                                               data-inputmask='"mask": "999999999"' data-mask
                                               value="{{persona.isss}}" required>
                                    </div>
                                </div>

                                <!--Usuario Sistema-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Usuario</span>
                                        </div>
                                        <select class="custom-select" id="usersis" name="usersis" required>
                                            <option value="{{persona.auth_id_id}}" selected >{{persona.auth_id.first_name}}</option>
                                            {% if usuarios %}
                                            {% for userdispo in usuarios %}
                                            <option value="{{ userdispo.id }}">{{ userdispo.first_name }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>

                                    </div>
                                </div>
                               

                                <!--Tipo de empleado-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Tipo de empleado</span>
                                        </div>
                                        <select class="custom-select" id="tipEmpl" name="tipEmpl" required>
                                            <option value="{{empleado.tipo_empleado}}" selected>
                                                {{empleado.tipo_empleado}}
                                            </option>
                                               <option value="Personal Medico">Personal Medico (Doctores)</option>
                                            <option value="Laboratorista">Laboratorista</option>
                                            <option value="Recepcionista">Recepcionista</option>
                                            <option value="Administrador">Administrador</option>
                                            <option value="Enfermera">Enfermera</option>
                                        </select>

                                    </div>
                                </div>

                                <!--Sueldo-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Sueldo</span>
                                        </div>
                                        <input type="number" class="form-control" id="sueldo" name="sueldo"
                                               placeholder="Ingrese el sueldo" value="{{empleado.sueldo}}" required>
                                    </div>
                                </div>

                                <!--Cargo-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Cargo</span>
                                        </div>
                                        <input type="text" class="form-control" id="cargo" name="cargo"
                                               value="{{empleado.cargo}}" placeholder="Ingrese el cargo">
                                    </div>
                                </div>

                                <!--Fecha contratacion-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Fecha de contratacion</span>
                                        </div>
                                        <input type="date" class="form-control" id="fechacontra" name="fechacontra"
                                               placeholder="Ingrese fecha de Contratación" data-mask=""
                                               value="{{empleado.fecha_contratacion}}" required>
                                    </div>
                                </div>

                                <!--Estado-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Estado</span>
                                        </div>
                                        <select class="custom-select" id="estado" name="estado" required>
                                            {% if empleado.estado == True %}
                                            <option value="1" selected>Activo</option>
                                            <option value="0">Inactivo</option>
                                            {% else %}
                                            <option value="1">Activo</option>
                                            <option value="0" selected>Inactivo</option>
                                            {% endif %}
                                        </select>

                                    </div>
                                </div>

                                <!--Clinica-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Clínica</span>
                                        </div>
                                        <select class="custom-select" id="clinica_id" name="clinica_id" required>
                                            <option value="" selected disabled>Elija la clínica a asignada</option>
                                            {% if clinicas %}
                                            {% for clini in clinicas %}
                                            {% if empleado.id_clinica_id == clini.id %}
                                            <option value="{{ clini.id}}" selected>{{ clini.nombre }}</option>
                                            {% else %}
                                            <option value="{{ clini.id }}">{{ clini.nombre }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </select>

                                    </div>
                                </div>

                                <!--Especialidad-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Especialidad</span>
                                        </div>
                                        <select class="custom-select" id="especialidad_id" name="especialidad_id"
                                                required>
                                            <option value="" selected disabled>Elija la especialidad</option>
                                            {% if especialidades %}
                                            {% for espec in especialidades %}
                                            {% if empleado.id_especialidad_id == espec.id %}
                                            <option value="{{ espec.id }}" selected>{{ espec.nombre_especialidad }}
                                            </option>
                                            {% else %}
                                            <option value="{{ espec.id }}">{{ espec.nombre_especialidad }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexEmpleados' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}