{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsempleados/indexEmpleados.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->

<br>
<br>
<br>
<div class="row">
    <div class="col-lg-10 offset-lg-1 ">
        <div class="card card-info">
            <div class="card-header">
                Listado de Empleados
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 offset-lg-9 text-right">
                        <a class="btn btn-primary" href="{% url 'empleado_crear' %}" role="button"> <i class="fa fa-plus" aria-hidden="true"></i>
                            Nuevo Empleado</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <table class="table" id="tablaEmpleados" name="tablaExpedientes">
                            <thead class="bg-info">
                            <tr>
                                <th>Id empleado</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Tipo Empleado</th>
                                <td>Opciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if personas %}
                            {% for perso in personas %}
                            <tr>
                                <td> {{ perso.id }}</td>
                                <td> {{ perso.id_persona.primer_nombre }} {{ perso.id_persona.segundo_nombre }}</td>
                                <td> {{ perso.id_persona.primer_apellido }} {{ perso.id_persona.segundo_apellido }}</td>
                                <td> {{ perso.tipo_empleado }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'empleado_edit' perso.id_persona_id %}" class="btn btn-sm btn-success">Actualizar</a>
                                        <a href="{% url 'empleado_detalle' perso.id_persona_id %}" class="btn btn-sm btn-secondary">Detalles</a>
                                        <a id="eliminar" name="eliminar" class="btn btn-sm btn-danger">Eliminar</a>
                                        <input type="hidden" id="Url" value="{% url 'empleado_eliminar' perso.id_persona_id %}"/>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}