<!--Inicio de la pestaña para antecedentes familiares-->
<div class="tab-pane fade" id="custom-tabs-three-anteFamiliar" role="tabpanel"
    aria-labelledby="custom-tabs-three-anteFamiliar-tab">
    <div class="card-body m">
        <div class="row">
            <div class="col-12">
                <p>
                    <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_fam" aria-expanded="false">
                        <span aria-hidden="true"></span> Agregar Antecedentes Familiares &nbsp;
                    </button>
                </p>
                <div class="collapse" id="formulario_fam">
                    <!--Form para agregar Familiar-->
                    <form action="{% url 'ante_familiar_crear' paciente.id%}" method="post"
                        name="formuIngresarAntecedentesFam">
                        {% csrf_token %}
                        <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                            <!-- Inicio del card que engloba los campos del form -->
                            <div class="card-header">
                                <h5>Nuevo Antecedente Familiar</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Nombre del familiar</span>
                                        </div>
                                        <input required type="text" class="form-control" id="nombre_familiar"
                                            name="nombre_familiar"
                                            placeholder="Ingrese el nombre completo del familiar">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Parentesco</span>
                                        </div>
                                        <input required type="text" class="form-control" id="parentesco"
                                            name="parentesco" placeholder="Ingrese el parentesco con el familiar">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Padecimientos</span>
                                        </div>
                                        <textarea required class="form-control" id="padecimientos" name="padecimientos"
                                            placeholder="En esta area puede ingresar los padecimientos del familiar"></textarea>
                                    </div>
                                </div>
                                <!-- Inicio Botones-->
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-7 text-right">
                                        <a href="{% url 'indexExpedientes' %}" role="button"
                                            class="btn btn-danger">Cancelar</a>
                                        <button type="submit" id="guardarAntFam" name="guardarAntFam"
                                            class="btn btn-info">Guardar
                                        </button>
                                    </div>
                                </div>
                                <!--Fin Botones-->
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--Modal para editar Familiar-->
    <div class="container-fluid" class="contenedor_editar">
        {% include 'antecedentes/antecedentes_familiares_editar.html' %}
    </div>

    <!--DataTable de Familiares-->
    <div class="row">
        <div class="col-12">
            <div class="card card-secondary card-outline border-secondary">
                <div class="card-header">
                    <h3 class="card-title">
                        Lista de antecedentes familiares
                    </h3>
                </div>
                <div class="row">
                    <div class="card-body col-12">
                        <div class="table-responsive">
                            <table class="table" id="tableAntecedenteFamiliar" name="tableAntecedenteFamiliar"
                                style="width:100% !important;">
                                <thead class="bg-secondary">
                                    <tr>
                                        <td style="min-width:max-content;">Nombre del familiar</td>
                                        <td>Parentesco</td>
                                        <td>Padecimiento</td>
                                        <td>Opciones</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for familiar in paciente.antecedentesfamiliares_set.all %}
                                    <tr>
                                        <td>{{familiar.nombre_familiar}}</td>
                                        <td>{{familiar.parentesco}}</td>
                                        <td>{{familiar.padecimientos}}</td>
                                        <td>
                                            <button type="button" href="#modal_editar_antfamiliar"
                                                onclick="mostrar_formulario_editar('{{familiar.nombre_familiar}}', '{{familiar.parentesco}}', '{{familiar.padecimientos}}', '{{familiar.id}}')"
                                                data-toggle="modal" id="antfamiliar_editar" name="antfamiliar_editar"
                                                class="btn btn-sm btn-success">Editar</button>
                                            <a href="{% url 'ante_familiar_eliminar' familiar.id %}"
                                                class="btn btn-sm btn-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>