<div class="modal fade" id="modal_editar_antfamiliar">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Boton de cerrar modal-->
            <div class="col-sm-12 justify-content-right">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <!-- Cuerpo modal-->
            <div class="modal-body">
                <div class="col-12">
                    <!--Form para editar Familiar-->
                    <form action="{% url 'ante_familiar_editar' %}" method="post" name="formuEditarAntecedentesFam">

                        {% csrf_token %}
                        <input type="hidden" id="identificador_editar" name="identificador_editar" value="">
                        <div class="card card-info card-outline border-info ">
                            <!-- Inicio del card que engloba los campos del form -->
                            <div class="card-header">
                                <h5>Editar Antecedente Familiar</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Nombre del familiar</span>
                                        </div>
                                        <input required type="text" class="form-control" id="nombre_familiar_editar" name="nombre_familiar_editar" value="">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Parentesco</span>
                                        </div>
                                        <input required type="text" class="form-control" id="parentesco_editar" name="parentesco_editar"
                                            placeholder="Ingrese el parentesco con el familiar">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Padecimientos</span>
                                        </div>
                                        <textarea required class="form-control" id="padecimientos_editar" name="padecimientos_editar"
                                            placeholder="En esta area puede ingresar los padecimientos del familiar"></textarea>
                                    </div>
                                </div>
                                <!-- Inicio Botones-->
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-7 text-right">
                                        <button type="submit" id="guardarAntFamEdit" name="guardarAntFamEdit"
                                            class="btn btn-info lg">Editar</button>
                                    </div>
                                </div>
                                <!--Fin Botones-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>