<div class="modal fade" id="modal_editar_antquirurgico">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Boton de cerrar modal-->
            <div class="col-sm-12 justify-content-right">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <!-- Cuerpo modal-->
            <div class="modal-body">
                <div class="col-12">
                    <!--Form para editar Familiar-->
                    <form action="{% url 'ante_quirurgico_editar' %}" method="post" name="formuEditarAntecedentesQui">

                        {% csrf_token %}
                        <input type="hidden" id="identificador_antquir_editar" name="identificador_antquir_editar"
                            value="">
                        <div class="card card-info card-outline border-info ">
                            <!-- Inicio del card que engloba los campos del form -->
                            <div class="card-header">
                                <h5>Editar Antecedente Quirúrgico</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Fecha aproximada</span>
                                        </div>
                                        <input required type="date" class="form-control" id="fecha_ante_quirur_editar"
                                            name="fecha_ante_quirur_editar">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Descripción</span>
                                        </div>
                                        <textarea required type="text" class="form-control" id="descripcion_cirugia_editar"
                                            name="descripcion_cirugia_editar"
                                            placeholder="Ingresar descripción"></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Causa</span>
                                        </div>
                                        <textarea required type="text" class="form-control" id="causa_editar" name="causa_editar"
                                            placeholder="Ingresar la causa de la intervención quirúrgica"></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Complicación</span>
                                        </div>
                                        <textarea required type="text" class="form-control" id="complicacion_editar"
                                            name="complicacion_editar" placeholder="Ingresar complicación"></textarea>
                                    </div>
                                </div>
                                <!-- Inicio Botones-->
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-7 text-right">
                                        <button type="submit" id="guardarAntFam" name="guardarAntQuir"
                                            class="btn btn-info lg">Editar</button>
                                    </div>
                                </div>
                                <!--Fin Botones-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>