<!--Inicio de la pestaña para antecedentes personales-->
<div class="tab-pane fade active show" id="custom-tabs-three-antePersonal" role="tabpanel"
    aria-labelledby="custom-tabs-three-antePersonal-tab">
    <div class="card-body m">
        <div class="row">
            <div class="col-12">
                <form method="post" name="formuEditarAlergias" action="{% url 'ante_alergias_editar' paciente.id %}">
                    {% csrf_token %}
                    <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Antecedentes Personales - Alergias</h5>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" for="alergias">Alergias</span>
                                    </div>
                                    <textarea class="form-control"
                                        placeholder="Especifique las alergias, no deje este campo vacío..."
                                        id="alergias" name="alergias" rows="7"
                                        length="250">{{ paciente.antecedentespersonal.alergias }}</textarea>
                                </div>
                            </div>

                            <!-- Inicio Botones-->
                            <div class="col-lg-4 offset-lg-7 text-right">
                            <button type="submit" name="Enviar" class="btn btn-info">Actualizar</button>
                            </div>
                            <!--Fin Botones-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'antecedentes/antecedentes_medicos.html' %}
    {% include 'antecedentes/antecedentes_quirurgicos.html' %}
    {% include 'antecedentes/medicacion_actual.html' %}
</div>