<!--====================================================================================================
                    VISTA QUE POSEE LOS ANTECEDENTES QUIRURGICOS
			ESTA VISTA ESTA INCLUIDA EN LOS ANTECEDENTES PERSONALES
====================================================================================================-->
<br>
<div class="card card-secondary card-outline border-secondary collapsed-card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas">
                Antecedentes quirúrgicos
            </i>
        </h3>
        <div class="card-tools">

            <button type="button" class="btn" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="card-body">

        <div class="col-12">
            <p>
                <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button" data-toggle="collapse"
                    data-target="#formulario_quirur" aria-expanded="false">
                    <span aria-hidden="true"></span> Agregar Antecedentes Quirúrgicos &nbsp;
                </button>
            </p>
            <div class="collapse" id="formulario_quirur">
                <!--Form para agregar antecedente quirurgico-->
                <form action="{% url 'ante_quirurgico_crear' paciente.id%}" method="post"
                    name="formuIngresarAntecedentesQui">
                    {% csrf_token %}
                    <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Nuevo Antecedente Quirúrgico</h5>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Fecha aproximada</span>
                                    </div>
                                    <input required type="text" placeholder="Ingrese la fecha aproximada"
                                        class="form-control" id="fecha_ante_quirur" name="fecha_ante_quirur">
                                    <input type="hidden" id="fecha_ante_quirur_formato" name="fecha_ante_quirur_formato"
                                        value="" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Descripción</span>
                                    </div>
                                    <textarea required type="text" class="form-control" id="descripcion_cirugia"
                                        name="descripcion_cirugia" placeholder="Ingresar descripción"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Causa</span>
                                    </div>
                                    <textarea required type="text" class="form-control" id="causa" name="causa"
                                        placeholder="Ingresar la causa de la intervención quirúrgica"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Complicación</span>
                                    </div>
                                    <textarea required type="text" class="form-control" id="complicacion"
                                        name="complicacion" placeholder="Ingresar complicación"></textarea>
                                </div>
                            </div>
                            <!-- Inicio Botones-->
                            <div class="row">
                                <div class="col-lg-4 offset-lg-7 text-right">
                                    <a href="{% url 'indexExpedientes' %}" role="button"
                                        class="btn btn-danger">Cancelar</a>
                                    <button type="submit" id="guardarAntQuirurgico" name="guardarAntQuirurgico"
                                        class="btn btn-info">Guardar</button>
                                </div>
                            </div>
                            <!--Fin Botones-->
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <!--Modal para editar Antecedentes Quirurgicos-->
        <div class="container-fluid" class="contenedor_editar">
            {% include 'antecedentes/antecedentes_quirurgicos_editar.html' %}
        </div>

        <!--DataTable de Antecedentes Quirurgicos-->
        <div class="card card-outline border-secondary mb-3 ">
            <div class="card-header">
                <h5>Listado de Antecedentes Quirurgicos</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="tableAntecedenteQuirurgico" name="tableAntecedenteQuirurgico"
                        style="width: 100%;">
                        <thead class="bg-secondary">
                            <tr>
                                <td>Fecha</td>
                                <td>Descripción </td>
                                <td>Opciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for antequirurgico in paciente.antecedentespersonal.antecedentesquirurgico_set.all %}
                            <tr>
                                <td>{{antequirurgico.fecha}}</td>
                                <td>{{antequirurgico.descripcion_cirugia}}</td>
                                <td>
                                    <button type="button" href="#modal_editar_antquirurgico" data-toggle="modal"
                                        id="antquirurgico_editar" name="antquirurgico_editar"
                                        class="btn btn-sm btn-success"
                                        onclick="mostrar_formulario_editar_antquirurgico('{{antequirurgico.fecha}}', '{{antequirurgico.descripcion_cirugia}}', '{{antequirurgico.causa}}','{{antequirurgico.complicacion}}', '{{antequirurgico.id}}')">Actualizar</button>
                                    <a href="{% url 'ante_quirurgico_eliminar' antequirurgico.id %}"
                                        class="btn btn-sm btn-danger">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>