<div class="modal fade" id="modal_editar_antmedicos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Boton de cerrar modal-->
            <div class="col-sm-12 justify-content-right">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <!-- Cuerpo modal-->
            <div class="modal-body">
                <div class="col-12">
                    <!--Form para editar Antecedente Medico-->
                    <form  action="{% url 'ante_medico_editar' %}" method="post" name="formuEditarAntMedico" id="formuEditarAntMedico">

                        {% csrf_token %}
                        <input type="hidden" id="identificador_editar_antmedico" name="identificador_editar_antmedico" value="">
                        <div class="card card-info card-outline border-info ">
                            <!-- Inicio del card que engloba los campos del form -->
                            <div class="card-header">
                                <h5>Editar Antecedentes Médicos</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Fecha aproximada</span>
                                        </div>
                                        <input required type="date" class="form-control" id="fecha_ante_med_editar" name="fecha_ante_med_editar">
                                    </div>
                                </div>
                                <div class="row row form-group">
                                    <div class="input-group">
                                        <input type="hidden" id="id_cod_ante_med_editar" name="id_cod_ante_med_editar" value="">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Código</span>
                                        </div>
                                        <input required type="text" class="form-control" id="codigo_editar" placeholder="Ingrese el código.">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Enfemedad</span>
                                        </div>
                                        <textarea class="form-control" rows="2" maxlength="400" id="enfermedad_editar" placeholder="Ingrese la enfermedad." required></textarea>
                                    </div>
                                </div>
                                <!-- Inicio Botones-->
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-7 text-right">
                                        <button type="button" id="guardarAntMedicoEditar" name="guardarAntMedico"
                                            class="btn btn-info lg">Editar</button>
                                    </div>
                                </div>
                                <!--Fin Botones-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>