<!--====================================================================================================
                    VISTA QUE POSEE LOS ANTECEDENTES MEDICOS
			ESTA VISTA ESTA INCLUIDA EN LOS ANTECEDENTES PERSONALES
====================================================================================================-->
<div class="card card-secondary card-outline border-secondary collapsed-card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas">
                Antecedentes médicos
            </i>
        </h3>
        <div class="card-tools">
            <button type="button" class="btn" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i
                    class="fas fa-plus"></i></button>
        </div>
    </div>

    <div class="card-body">
        <div class="col-12">
            <p>
                <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button" data-toggle="collapse"
                    data-target="#formulario_med" aria-expanded="false">
                    <span aria-hidden="true"></span> Agregar Antecedentes Médicos &nbsp;
                </button>
            </p>
            <div class="collapse" id="formulario_med">
                <!--Form para agregar antecedente medico-->
                <form action="{% url 'ante_medico_crear' paciente.id%}" method="post"
                    name="formuIngresarAntecedentesMed">
                    {% csrf_token %}
                    <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Nuevo Antecedente Médico</h5>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Fecha aproximada</span>
                                    </div>
                                    <input required type="text" placeholder="Ingrese la fecha aproximada"
                                        class="form-control" id="fecha_ante_med" name="fecha_ante_med">
                                    <input type="hidden" id="fecha_ante_med_formato" name="fecha_ante_med_formato"
                                        value="" class="form-control">
                                </div>
                            </div>
                            <div class="row row form-group">
                                <div class="input-group">
                                    <input type="hidden" id="id_cod_ante_med" name="id_cod_ante_med" value="">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Código</span>
                                    </div>
                                    <input required type="text" class="form-control" id="codigo" name="codigo"
                                        placeholder="Ingrese el código.">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Enfemedad</span>
                                    </div>
                                    <textarea class="form-control" rows="2" maxlength="400" id="enfermedad"
                                        placeholder="Ingrese la enfermedad."></textarea>
                                </div>
                            </div>
                            <!-- Inicio Botones-->
                            <div class="row">
                                <div class="col-lg-4 offset-lg-7 text-right">
                                    <a href="{% url 'indexExpedientes' %}" role="button"
                                        class="btn btn-danger">Cancelar</a>
                                    <button type="button" id="guardarAntMed" name="guardarAntMed"
                                        class="btn btn-info">Guardar</button>
                                </div>
                            </div>
                            <!--Fin Botones-->
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--Modal para editar antecedentes medicos-->
        <div class="container-fluid" class="contenedor_editar">
            {% include 'antecedentes/antecedentes_medicos_editar.html' %}
        </div>
        <!--DataTable de Antecedentes Medicos-->
        <div class="row">
            <div class="col-12">
                <div class="card card-outline border-secondary ">
                    <div class="card-header">
                        <h3 class="card-title">
                            Listado de Antecedentes Médicos
                        </h3>
                    </div>
                    <div class="row">
                        <div class="card-body col-12">
                            <div class="table-responsive">
                                <table class="table" id="tableAntecedenteMedico" name="tableAntecedenteMedico"
                                    style="width: 100%;">
                                    <thead class="bg-secondary">
                                        <tr>
                                            <td>Código </td>
                                            <td>Enfermedad</td>
                                            <td>Fecha Aproximada</td>
                                            <td>Opciones</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for antemedico in paciente.antecedentespersonal.antecedentesmedicos_set.all %}
                                        <tr>
                                            <td>{{antemedico.id_codigo.id10}}</td>
                                            <td>{{antemedico.id_codigo.dec10}}</td>
                                            <td>{{antemedico.fecha}}</td>
                                            <td>
                                                <button type="button" data-target="#modal_editar_antmedicos"
                                                    data-toggle="modal" id="antmedicos_editar" name="antmedicos_editar"
                                                    onclick="mostrar_formulario_editar_antmedico('{{antemedico.fecha}}', '{{antemedico.id_codigo.id10}}', '{{antemedico.id_codigo.dec10}}', '{{antemedico.id}}','{{antemedico.id_codigo.id}}')"
                                                    class="btn btn-sm btn-success">Actualizar</button>
                                                <a href="{% url 'ante_medico_eliminar' antemedico.id %}"
                                                    class="btn btn-sm btn-danger">Eliminar</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>