<div class="modal fade" id="modal_editar_medactual">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Boton de cerrar modal-->
            <div class="col-sm-12 justify-content-right">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <!-- Cuerpo modal-->
            <div class="modal-body">
                <div class="col-12">
                    <!--Form para editar Medicacion Actual-->
                    <form  action="{% url 'ante_medicacion_editar' %}" method="post" name="formuEditarMedActual">

                        {% csrf_token %}
                        <input type="hidden" id="identificador_editar_medactual" name="identificador_editar_medactual" value="">
                        <div class="card card-info card-outline border-info ">
                            <!-- Inicio del card que engloba los campos del form -->
                            <div class="card-header">
                                <h5>Editar Medicación Actual</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Nombre comercial</span>
                                        </div>
                                        <input required type="text" class="form-control" id="nombre_comercial_editar" name="nombre_comercial_editar" placeholder="Ingresar el nombre comercial del medicamento">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Nombre del medicamento</span>
                                        </div>
                                        <input required type="text" class="form-control" id="nombre_medicamento_editar"
                                            name="nombre_medicamento_editar" placeholder="Ingresar el nombre del medicamento">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Tipo de administración</span>
                                        </div>
                                        <input required type="text" class="form-control" id="tipo_adminis_editar" name="tipo_adminis_editar"
                                            placeholder="Ingresar el tipo o forma de administración">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Concentración</span>
                                        </div>
                                        <input required type="text" class="form-control" id="concentracion_editar" name="concentracion_editar"
                                            placeholder="Ingresar la concentración del medicamento">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Frecuencia</span>
                                        </div>
                                        <input required type="text" class="form-control" id="frecuencia_editar" name="frecuencia_editar"
                                            placeholder="Ingresar la frecuencia de consumo u aplicación de medicamento">
                                    </div>
                                </div>
                                <!-- Inicio Botones-->
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-7 text-right">
                                        <button type="submit" id="guardarMedActual" name="guardarMedActual"
                                            class="btn btn-info lg">Editar</button>
                                    </div>
                                </div>
                                <!--Fin Botones-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>