<!--====================================================================================================
                    VISTA QUE POSEE LA MEDICACION ACTUAL
			ESTA VISTA ESTA INCLUIDA EN LOS ANTECEDENTES PERSONALES
====================================================================================================-->
<br>
<div class="card card-secondary card-outline border-secondary collapsed-card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas">
                Medicación actual
            </i>
        </h3>
        <div class="card-tools">
            <button type="button" class="btn" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="card-body">

        <div class="col-12">
            <p>
                <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button" data-toggle="collapse"
                    data-target="#formulario_medicacion" aria-expanded="false">
                    <span aria-hidden="true"></span> Agregar Medicación Actual &nbsp;
                </button>
            </p>
            <div class="collapse" id="formulario_medicacion">
                <!--Form para agregar medicacion actual-->
                <form action="{% url 'ante_medicacion_crear' paciente.id%}" method="post"
                    name="formuIngresarMedicacion">
                    {% csrf_token %}
                    <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Medicación Actual</h5>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Nombre comercial</span>
                                    </div>
                                    <input required type="text" class="form-control" id="nombre_comercial"
                                        name="nombre_comercial"
                                        placeholder="Ingresar el nombre comercial del medicamento">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Nombre del medicamento</span>
                                    </div>
                                    <input required type="text" class="form-control" id="nombre_medicamento"
                                        name="nombre_medicamento" placeholder="Ingresar el nombre del medicamento">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Tipo de administración</span>
                                    </div>
                                    <input required type="text" class="form-control" id="tipo_adminis"
                                        name="tipo_adminis" placeholder="Ingresar el tipo o forma de administración">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Concentración</span>
                                    </div>
                                    <input required type="text" class="form-control" id="concentracion"
                                        name="concentracion" placeholder="Ingresar la concentración del medicamento">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Frecuencia</span>
                                    </div>
                                    <input required type="text" class="form-control" id="frecuencia" name="frecuencia"
                                        placeholder="Ingresar la frecuencia de consumo u aplicación de medicamento">
                                </div>
                            </div>
                            <!-- Inicio Botones-->
                            <div class="row">
                                <div class="col-lg-4 offset-lg-7 text-right">
                                    <a href="{% url 'indexExpedientes' %}" role="button"
                                        class="btn btn-danger">Cancelar</a>
                                    <button type="submit" id="guardarMed" name="guardarMed"
                                        class="btn btn-info">Guardar</button>
                                </div>
                            </div>
                            <!--Fin Botones-->
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <!--Modal para editar medicacion actual-->
        <div class="container-fluid" class="contenedor_editar">
            {% include 'antecedentes/medicacion_actual_editar.html' %}
        </div>

        <!--DataTable de Medicacion Actual-->
        <div class="card card-outline border-secondary mb-3 ">
            <div class="card-header">
                <h5>Listado de Medicación Actual</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="tableMedActual" name="tableMedActual" style="width: 100%;">
                        <thead class="bg-secondary">
                            <tr>
                                <td>Nombre medicamento </td>
                                <td>Nombre comercial </td>
                                <td>Frecuencia</td>
                                <td>Opciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for medactual in paciente.antecedentespersonal.medicacionactual_set.all %}
                            <tr>
                                <td>{{medactual.nombre_medicamento}}</td>
                                <td>{{medactual.nombre_comercial_me}}</td>
                                <td>{{medactual.frecuencia}}</td>
                                <td>
                                    <button type="button" data-target="#modal_editar_medactual"
                                        onclick="mostrar_formulario_editar_medactual('{{medactual.nombre_comercial_me}}','{{medactual.nombre_medicamento}}', '{{medactual.tipo_administracion}}', '{{medactual.concentracion}}', '{{medactual.frecuencia}}','{{medactual.id}}' )"
                                        data-toggle="modal" id="medactual_editar" name="medactual_editar"
                                        class="btn btn-sm btn-success">Actualizar</button>
                                    <a href="{% url 'ante_medicacion_eliminar' medactual.id %}"
                                        class="btn btn-sm btn-danger">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>