{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/oriCri.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>
                        Resultados del exámen de orina cristaluria.
                    </h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                 <div id="Impresion" name="Impresion" class="Impresion">
                                  <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-info-circle"></i>
                                                Resultados del exámen del paciente {{ ordenP.id_consulta.id_paciente.id_persona.primer_nombre}}
                                                {{ ordenP.id_consulta.id_paciente.id_persona.primer_apellido}}.
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Uratos Amorfos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="uratos" name="uratos"
                                                           value="{{orinaCriE.uratos_amorfos}}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Acido Urico</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="acido" name="acido"
                                                           value="{{orinaCriE.acido_urico}}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Oxalatos calcicos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="oxalatos" name="oxalatos"
                                                           value="{{orinaCriE.oxalatos_calcicos}}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Fosfatos calcicos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="fosca" name="fosca"
                                                           value="{{orinaCriE.fosfatos_calcicos}}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Fosfatos amorfos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="fosamor" name="fosamor"
                                                           value="{{orinaCriE.fosfatos_amorfos}}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Fosfatos amonicos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="fosamonico" name="fosamonico"
                                                           value="{{orinaCriE.fosfatos_amonicos}}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Riesgos litogenicos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="riesgos" name="riesgos"
                                                           value="{{orinaCriE.riesgos_litogenico}}" disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                 </div>
                               

                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                          <a href="javascript:void(0);" id="printButton" class="btn btn-primary ">Imprimir</a>
                        {% if perms.consultas.laboratorio_control %}
                            <a href="{% url 'indexLaboratorioRepondidos' %}" role="button" class="btn btn-danger">Regresar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}