<!--Inicio de la pestaña para diagnostico-->
<div class="tab-pane fade active show" id="custom-tabs-consulta-diagnostico" role="tabpanel"
    aria-labelledby="custom-tabs-consulta-tab">
    {% if diagnostico %}
    {% else %}
    <div class="card-body m">
        <div class="row">
            <div class="col-12">
                <p>
                    {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                    <button disabled class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_diagnostico" aria-expanded="false">
                        <span aria-hidden="true"></span> Agregar Diagnóstico &nbsp;
                    </button>
                    {% else %}
                    <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_diagnostico" aria-expanded="false">
                        <span aria-hidden="true"></span> Agregar Diagnóstico &nbsp;
                    </button>
                    {% endif %}
                </p>
                <div class="collapse" id="formulario_diagnostico">
                    <!--Form para agregar Diagnostico-->
                    <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Nuevo Diagnóstico</h5>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Sintomas</span>
                                    </div>
                                    <textarea required type="text" class="form-control" id="sintomas"
                                        placeholder="Agregue la descripcion de sintomas que presenta el paciente"></textarea>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5>Padecimiento</h5>
                                </div>
                                <div class="card-body">
                                    <form method="get" accept-charset="utf-8" id="formDiagnostico">
                                        <div class="row row form-group">
                                            <div class="input-group">
                                                <input type="hidden" id="id_cod" value="">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Código</span>
                                                </div>
                                                <input required type="text" class="form-control" id="codigo"
                                                    name="codigo" placeholder="Ingrese el código.">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text ">Enfemedad</span>
                                                </div>
                                                <textarea class="form-control" rows="2" maxlength="400" id="enfermedad"
                                                    placeholder="Ingrese la enfermedad." required></textarea>
                                            </div>
                                        </div>
                                        <!--Boton para agregar medicamento a la lista-->
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <button type="submit" id="agregarEnfer" name="agregarEnfer"
                                                    class="btn btn-success" data-toogle="tooltip"
                                                    title="Añadir a la lista de enfermedades">Agregar
                                                    padecimiento</button>
                                            </div>
                                        </div>
                                        <br>
                                        <!-- Fin de boton para agregar medicamento-->
                                    </form>
                                </div>
                            </div>
                            <form method="post" name="formudiagnostico" id="formDiagnosticoGuardar"
                                action="{% url 'diagnostico_create' consulta.id %}">

                                {% csrf_token %}
                                <!--Tabla Enfermedades-->
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped" id="tablaEnfermedades"
                                            name="tablaEnfermedades" style="width: 100%;">
                                            <thead class="bg-secondary">
                                                <tr>
                                                    <td>Codigo </td>
                                                    <td>Nombre Enfermedad</td>
                                                    <td>Opción</td>
                                                </tr>
                                            </thead>
                                            <tbody id="cuerpoEnfermedad">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--Fin de Tabla de Enfermedades-->

                                <!-- Inicio Botones-->
                                <div class="col-lg-4 offset-lg-7 text-right">
                                    <button type="button" id="enviar" class="btn btn-info">Guardar</button>
                                </div>
                                <!--Fin Botones-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Datatable donde se listan los diagnosticos -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="card card-outline border-secondary m-2">
                <div class="row">
                    <div class="card-body col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="tablediagnostico"
                                name="tablediagnostico" style="width: 100%;">
                                <thead class="bg-secondary">
                                    <tr>
                                        <td>Sintomas </td>
                                        <td>Código </td>
                                        <td>Enfermedad</td>
                                        <td>Opciones</td>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% if diagnostico %}
                                    <tr>
                                        <td>{{diagnostico.sintomas}}</td>
                                        <td>
                                            <ul>
                                                {% for inter in diagnostico.id_codigo_internacional.all %}
                                                <li>{{inter.id10}}</li>
                                                {% endfor %}

                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                {% for inter in diagnostico.id_codigo_internacional.all %}
                                                <li>{{inter.dec10}}</li>
                                                {% endfor %}

                                            </ul>
                                        </td>
                                        <td>
                                            {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                                            <button disabled type="button" data-toggle="modal"
                                                data-target="#modal_editar_diagnostico"
                                                class="btn btn-sm btn-success">Actualizar</button>
                                            <button disabled class="btn btn-sm btn-danger">Eliminar</button>
                                            {% else %}
                                            <button type="button" data-toggle="modal"
                                                data-target="#modal_editar_diagnostico"
                                                class="btn btn-sm btn-success">Actualizar</button>
                                            <a class="btn btn-sm btn-danger">Eliminar</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if diagnostico %}
{% include 'consultas/editar_diagnostico_modal.html' %}
{% endif %}
