<div class="modal fade" id="modal_editar_diagnostico">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Boton de cerrar modal-->
            <div class="col-sm-12 justify-content-right">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <!-- Cuerpo modal-->
            <div class="modal-body">
                <div class="col-12">
                    <div class="card card-info card-outline border-info mb-3 ">
                        <!-- Inicio del card que engloba los campos del form -->
                        <div class="card-header">
                            <h5>Editar Diagnóstico</h5>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Sintomas</span>
                                    </div>
                                    <textarea required type="text" class="form-control" id="sintomas_editar"
                                        placeholder="Agregue la descripcion de sintomas que presenta el paciente">{{ diagnostico.sintomas }}</textarea>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5>Padecimiento</h5>
                                </div>
                                <div class="card-body">
                                    <form method="get" accept-charset="utf-8" id="formDiagnostico_editar">
                                        <div class="row row form-group">
                                            <div class="input-group">
                                                <input type="hidden" id="id_cod_editar" value="">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Código</span>
                                                </div>
                                                <input required type="text" class="form-control" id="codigo_editar"
                                                    name="codigo" placeholder="Ingrese el código.">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text ">Enfemedad</span>
                                                </div>
                                                <textarea class="form-control" rows="2" maxlength="400"
                                                    id="enfermedad_editar" placeholder="Ingrese la enfermedad."
                                                    required></textarea>
                                            </div>
                                        </div>
                                        <!--Boton para agregar medicamento a la lista-->
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <button type="submit" id="agregarEnfer_editar"
                                                    name="agregarEnfer_editar" class="btn btn-success"
                                                    data-toogle="tooltip"
                                                    title="Añadir a la lista de enfermedades">Agregar
                                                    padecimiento</button>
                                            </div>
                                        </div>
                                        <br>
                                        <!-- Fin de boton para agregar medicamento-->
                                    </form>
                                </div>
                            </div>
                            <form method="post" name="formudiagnostico_editar" id="formDiagnosticoActualizar"
                                action="{% url 'diagnostico_editar' diagnostico.id %}">

                                {% csrf_token %}
                                <!--Tabla Enfermedades-->
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped" id="tablaEnfermedades_editar"
                                            name="tablaEnfermedades_editar" style="width: 100%;">
                                            <thead class="bg-secondary">
                                                <tr>
                                                    <td>Codigo </td>
                                                    <td>Nombre Enfermedad</td>
                                                    <td>Opción</td>
                                                </tr>
                                            </thead>
                                            <tbody id="cuerpoEnfermedad_editar">
                                                {% if diagnostico %}
                                                {% for cod in diagnostico.id_codigo_internacional.all %}
                                                <tr>
                                                    <td><input type="hidden" name="ids_codigos_editar"
                                                            value="{{cod.id}}" required>{{cod.id10}}</td>
                                                    <td>{{cod.dec10}}</td>
                                                    <td><input type='button' class='btn-danger' id='quitarDiag_editar'
                                                            value='Quitar'></td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--Fin de Tabla de Enfermedades-->

                                <!-- Inicio Botones-->
                                <div class="col-lg-4 offset-lg-7 text-right">
                                    <button type="button" id="enviar_diag_editar" class="btn btn-info">Guardar</button>
                                </div>
                                <!--Fin Botones-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>