<!-- Edit_consulta -->
{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Scripts de Recetas -->
<script src="{% static 'dist/js/jsrecetas/indexRecetas.js' %}"></script>
<script src="{% static 'dist/js/jsrecetas/validacionesReceta.js' %}"></script>
<script src="{% static 'dist/js/jsrecetas/editarReceta.js' %}"></script>
<!-- Scripts de orden de examen -->
<script src="{% static 'dist/js/jsconsultas/indexOrdenExamen.js' %}"></script>
<!-- Script de la orden de ingreso -->
<script src="{% static 'dist/js/jsconsultas/indexIngreso.js' %}"></script>
<script src="{% static 'dist/js/jsconsultas/indexIngresos.js' %}"></script>
<!-- Scripts de signos vitales -->
<script src="{% static 'dist/js/jssignosvitales/indexSignosVitales.js' %}"></script>
<script src="{% static 'dist/js/jssignosvitales/validacionesSignosVitales.js' %}"></script>
<!-- Scripts de Diagnostico -->
<script src="{% static 'dist/js/jsconsultas/ingreDiagnostico.js' %}"></script>
<script src="{% static 'dist/js/jsconsultas/editarDiagnostico.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}
<br>
<br>
<br>
<!-- Variable todays_date que posee la fecha de ahora, usada en todas las pantallas de consulta -->
{% now "Y-m-d" as todays_date %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1">
            <div class="card card-info">
                <div class="card-header">
                    <h5>Registro de realización de consulta</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="editarconsulta">
                                {% csrf_token %}
                                <div class="card border-info mb-3 col-lg-10 offset-lg-1">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Numero de expediente: {{consulta.id_paciente.NumExp}}
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-12">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Nombre del paciente</span>
                                                    </div>
                                                    <input disabled type="text" class="form-control" id="" name=""
                                                        value="{{ consulta.id_paciente.id_persona.primer_nombre }} {{consulta.id_paciente.id_persona.segundo_nombre}} {{consulta.id_paciente.id_persona.primer_apellido}} {{consulta.id_paciente.id_persona.segundo_apellido}}"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Fecha</span>
                                                    </div>
                                                    {% if perms.consultas.consultas_editar %}
                                                    <input type="date" class="form-control" id="fecha" name="fecha"
                                                        placeholder="Ingrese fecha"
                                                        value="{{consulta.fecha_reservacion}}">
                                                    {% else %}
                                                    <input type="date" class="form-control" id="fecha" name="fecha"
                                                        placeholder="Ingrese fecha"
                                                        value="{{consulta.fecha_reservacion}}" disabled>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% if perms.consultas.consultas_editar %}
                                        <!-- Inicio Botones-->
                                        <div class="row">
                                            <div class="col-lg-4 offset-lg-7 text-right">
                                                <button type="submit" id="guardar" name="guardar"
                                                    class="btn btn-info">Actualizar</button>
                                            </div>
                                        </div>
                                        <!--Fin Botones-->
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <!--====================================================================================================
                                            VISTA QUE POSEE DIFERENTES TABS PARA LOS DIFERENTES FORMULARIOS DE
				                                            DIAGNOSTICOS, EXAMENES E INGRESOS
                            ====================================================================================================-->
                            <!--Seccion de pestañas o nav-tabs   -->
                            <ul class="nav nav-tabs" id="custom-tabs-consulta-tab" role="tablist">
                                {% if perms.consultas.consultas_editar %}
                                <li class="nav-item"><a class="nav-link active"
                                        id="custom-tabs-consulta-diagnostico-tab" data-toggle="pill"
                                        href="#custom-tabs-consulta-diagnostico" role="tab"
                                        aria-controls="custom-tabs-consulta-diagnostico"
                                        aria-selected="true">&nbsp;&nbsp;Diagnostico</a>
                                </li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-link " id="custom-tabs-consulta-receta-tab"
                                        data-toggle="pill" href="#tab_recetas_contenido" role="tab"
                                        aria-controls="tab_recetas_contenido" aria-selected="false">Tratamiento
                                    </a>
                                </li>
                                {% if perms.personas.signos_editar %}
                                <li class="nav-item"><a class="nav-link active" id="custom-tabs-consulta-signos-tab"
                                        data-toggle="pill" href="#tab_signos_vitales_contenido" role="tab"
                                        aria-controls="tab_signos_vitales_contenido" aria-selected="false">Signos
                                        Vitales
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item"><a class="nav-link " id="custom-tabs-consulta-signos-tab"
                                        data-toggle="pill" href="#tab_signos_vitales_contenido" role="tab"
                                        aria-controls="tab_signos_vitales_contenido" aria-selected="false">Signos
                                        Vitales
                                    </a>
                                </li>
                                {% endif %}
                                {% if perms.consultas.consultas_editar %}
                                <li class="nav-item"><a class="nav-link " id="custom-tabs-consulta-examenes-tab"
                                        data-toggle="pill" href="#custom-tabs-consulta-examenes" role="tab"
                                        aria-controls="custom-tabs-consulta-examenes" aria-selected="false">Examenes
                                    </a>
                                </li>
                                <li class="nav-item"><a class="nav-link" id="custom-tabs-consulta-ingreso-tab"
                                        data-toggle="pill" href="#custom-tabs-consulta-ingreso" role="tab"
                                        aria-controls="custom-tabs-consulta-ingreso" aria-selected="false">Ingreso
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content" id="custom-tabs-three-tabContent">
                                <!--Sección de div que contienen los include que hacen referencia a las distintas vistas que contienen los tabs requeridos-->
                                {% if perms.consultas.consultas_editar %}
                                {% include 'consultas/diagnostico.html' %}
                                {% include 'consultas/ingreso.html' %}
                                {% include 'consultas/ordenExamen.html' %}
                                {% endif %}
                                {% include 'signosvitales/tab_index.html' %}
                                {% include 'recetas/tab_index.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
