{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}
<script src="{% static 'dist/js/jslaboratorio/indexLaboratorio.js' %}"></script>
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}

<br>
<br>
<br>
<div class="card-body">
    <!--DataTable de Resultado de examenes-->
    <div class="row">
        <div class="col-12">
            <div class="card card-secondary card-outline border-secondary">
                <div class="card-header">
                    <h3 class="card-title">
                        Resultado de examenes
                    </h3>
                </div>
                <div class="row">
                    <div class="card-body col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="tablaExamenes" name="tablaExamenes"
                                style="width:100% !important;">
                                <thead class="bg-secondary">
                                    <tr>
                                        <th>id</th>
                                        <th>Estado</th>
                                        <th>fecha respuesta</th>
                                        <th>tipo</th>
                                        <td>Opciones</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for examen in examenes %}
                                    <tr>
                                        <td> {{ examen.id }} </td>
                                        <td> {{ examen.estado }} </td>
                                        <td> {{ examen.fecha_respuesta }} </td>
                                        <td> {{ examen.id_tipo.nombre }} </td>
                                        <td> <a href="{% url 'controladorOrdenesVer' examen.id %}"
                                                class="btn btn-sm btn-info">Ver </a></td>
                                    </tr>
                                    {% endfor %}

                                    </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}