{% extends 'base.html' %}
{% load static %}
{% block header %}
<script src="{% static 'dist/js/jsconsultas/indexProgramadas.js' %}"></script>
{% endblock %}
{% block content %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->

<br>
<br>
<br>
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card card-info">
            <div class="card-header">
                Listado de citas programads
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 offset-lg-10 text-right">
                        <a class="btn btn-primary" href="{% url 'consulta_programar' %}" role="button">
                            <i class="fa fa-plus" aria-hidden="true"></i> Programar cita
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="programadas" name="programadas">
                                <thead class="bg-info">
                                <tr>
                                    <th>Paciente</th>
                                    <th>Fecha</th>
                                    <th>Turno</th>
                                    <th>Doctor</th>
                                    <td>Opciones</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for consulta in consultas %}
                                <tr>
                                    <td>
                                        {{ consulta.id_paciente.id_persona.primer_nombre }}
                                        {{ consulta.id_paciente.id_persona.segundo_nombre }}
                                        {{ consulta.id_paciente.id_persona.primer_apellido }}
                                        {{ consulta.id_paciente.id_persona.segundo_apellido }}
                                    </td>
                                    <td>{{consulta.fecha_reservacion}}</td>
                                    <td>{{consulta.turno.nombre_turno}}</td>
                                    <td>
                                        Dr. {{consulta.id_empleado.id_persona.primer_nombre}}
                                        {{consulta.id_empleado.id_persona.segundo_nombre}}
                                        {{consulta.id_empleado.id_persona.primer_apellido}}
                                        {{consulta.id_empleado.id_persona.segundo_apellido}}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a id="eliminar" name="eliminar"
                                               class="btn btn-sm btn-danger">Eliminar</a>
                                            <input type="hidden" id="Url"
                                                   value="{% url 'consulta_eliminar' consulta.id %}"/>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}