{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsconsultas/indexConsultas.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}

<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1">
            <div class="card card-info">
                <div class="card-header">
                    <h5>Historial de Consultas</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                {% for paciente in pacientes %}
                                <div class="card border-info mb-3 col-lg-10 offset-lg-1">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Numero de expediente: {{ paciente.NumExp }}
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        Nombre del paciente: "{{ paciente.id_persona.primer_nombre }}
                                        {{ paciente.id_persona.segundo_nombre }}
                                        {{ paciente.id_persona.primer_apellido }}
                                        {{ paciente.id_persona.segundo_apellido }} "
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--DataTable de Historial de consultas-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-secondary card-outline border-secondary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Historial de consultas
                                    </h3>
                                </div>
                                <div class="row">
                                    <div class="card-body col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped" id="historialconsulta"
                                                name="historialconsulta" style="width:100% !important;">
                                                <thead class="bg-secondary">
                                                    <tr>
                                                        <td>Reservación de consulta</td>

                                                        <td>Estado de consulta</td>
                                                        <td>Opciones</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for consulta in historialconsulta %}
                                                    <tr>
                                                        <td>{{ consulta.fecha_reservacion|date:'l d/m/Y' }}</td>
                                                        <!--Columna estado (asistio y fecha) las salidas tiene que ser iguales-->
                                                        {% if time|date:'Y-m-d' > consulta.fecha_reservacion|date:'Y-m-d' %}
                                                        <td>Consulta atendida</td>
                                                        {% elif consulta.fecha_reservacion|date:'Y-m-d' > time|date:'Y-m-d' %}
                                                        <td>Consulta por atender</td>
                                                        {% elif consulta.fecha_reservacion|date:'Y-m-d' == time|date:'Y-m-d' %}
                                                        <td>Consulta del turno actual</td>
                                                        {% else %}
                                                        <td>-----</td>
                                                        {% endif %}
                                                        <!-- Validaciones: Si la consulta es de la fecha actual SI se puede editar,
                                                        de lo contrario solo se puede ver la consulta -->
                                                        <td>
                                                            {% if perms.consultas.consultas_ver and time|date:'Y-m-d' > consulta.fecha_reservacion|date:'Y-m-d' %}
                                                            <a href="{% url 'consultas_edit' todas=0 id_consulta=consulta.id %}"
                                                                class=" btn btn-sm btn-success">Ver</a>
                                                            {% else %}
                                                            {% if perms.consultas.consultas_editar or perms.personas.signos_editar %}
                                                            <!--Editar la consulta-->
                                                            <a href="{% url 'consultas_edit' todas=0 id_consulta=consulta.id %}"
                                                                class="btn btn-sm btn-secondary">Editar</a>
                                                            {% else %}
                                                            --
                                                            {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}