<!--Inicio de la pestaña para ingresos-->
<!--Modal para editar Ingreso-->
<div class="container-fluid" class="contenedor_editar">
    {% include 'consultas/ingreso_editar.html' %}
</div>

<div class="tab-pane fade " id="custom-tabs-consulta-ingreso" role="tabpanel"
    aria-labelledby="custom-tabs-consulta-ingreso-tab">
    <div class="card-body m">
        <div class="row">
            <div class="col-12">
                {% if ingreso %}
                <!-- SI YA SE INGRESO, QUE MUESTRE LOS DATOS DE LA ORDEN DE INGRERSO -->
                <div class="card card-info card-outline border-info mb-3">
                    <!-- Inicio del card que engloba los campos del form -->
                    <div class="card-header">
                        <h5>Orden de Ingreso</h5>
                    </div>
                    {% for ingre in ingreso %}
                    <div class="card-body">
                        <div style="column-count: 2;">
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Fecha Ingreso
                                        </span>
                                    </div>
                                    <input disabled type="text" class="form-control" id="f_ingreso" name="f_ingreso"
                                        value="{{ ingre.fecha_ingreso|date:'d-m-Y' }}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text ">Fecha egreso</span>
                                    </div>
                                    <input disabled type="text" class="form-control" id="f_egreso" name="f_egreso"
                                        value="{{ ingre.fecha_egreso|date:'d-m-Y'}}">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text ">Numero de Camilla</span>
                                </div>
                                <input disabled type="text" class="form-control" id="show_camilla" name="show_camilla"
                                    value="{{ ingre.id_camilla.numero_camilla}}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text ">Nombre de Sala</span>
                                </div>
                                <input disabled type="text" class="form-control" id="show_sala" name="show_sala"
                                    value="{{ ingre.id_camilla.id_sala.nombre_sala }}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 offset-lg-8 text-right">
                                <a href="{% url 'indexExpedientes' %}" role="button"
                                    class="btn btn-sm btn-secondary">Regresar</a>
                                {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                                <button disabled type="button" href="#modal_editar_ingreso" data-toggle="modal"
                                    id="ingreso_editar" name="ingreso_editar"
                                    class="btn btn-sm btn-success">Actualizar</button>
                                <button disabled href="" class="btn btn-sm btn-danger">Eliminar</button>
                                {% else %}
                                <button type="button" href="#modal_editar_ingreso" onclick="mostrar_formulario_editar('{{ingre.fecha_ingreso}}', 
                                        '{{ingre.fecha_egreso}}', 
                                        '{{ingre.id_camilla.numero_camilla}}', 
                                        '{{ingre.id_camilla.id_sala.nombre_sala}}', 
                                        '{{ingre.id}}')" data-toggle="modal" id="ingreso_editar" name="ingreso_editar"
                                    class="btn btn-sm btn-success">Actualizar
                                </button>
                                <a href="{% url 'ingreso_eliminar' ingre.id %}"
                                    class="btn btn-sm btn-danger">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <!-- SI AUN NO SE INGRERSO INGRESO, MOSTRAR EL FORMULARIO PARA LA ORDEN DE INGRESO -->
                <div class="alert alert-warning" style="background-color: #fff3cd; color: #b59c5c;" role="alert">
                    En esta consulta no se ingreso al paciente!
                </div>
                {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                <p>
                    <button disabled class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_ingreso" aria-expanded="false">
                        <span aria-hidden="true"></span> Registrar Ingreso &nbsp;
                    </button>
                </p>
                {% else %}
                <p>
                    <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_ingreso" aria-expanded="false">
                        <span aria-hidden="true"></span> Registrar Ingreso &nbsp;
                    </button>
                </p>
                {% endif %}
                <div class="collapse" id="formulario_ingreso">
                    <!--Form para agregar ingreso-->
                    <form method="post" name="formingreso" action="{% url 'ingreso_create' consulta.id %}">
                        {% csrf_token %}
                        <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                            <!-- Inicio del card que engloba los campos del form -->
                            <div class="card-header">
                                <h5>Orden de Ingreso</h5>
                                <!--Este tiene que salir de un boton -->
                            </div>
                            <div class="card-body">
                                <div style="column-count: 2;">
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Fecha de ingreso</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Fecha de ingreso"
                                                id="fe_ingreso" name="fe_ingreso" required>
                                            <input type="hidden" id="fecha_ingreso_formato" name="fecha_ingreso_formato"
                                                value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Fecha de egreso</span>
                                            </div>
                                            <input type="text" class="form-control" id="fe_egreso"
                                                placeholder="Fecha de egreso" name="fe_egreso" required>
                                            <input type="hidden" id="fecha_egreso_formato" name="fecha_egreso_formato"
                                                value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Sala</span>
                                        </div>
                                        <select class="custom-select" id="sala_id" name="sala_id" required>
                                            <option value="" selected disabled>Elija la sala
                                            </option>
                                            {% if sala %}
                                            {% for salas in sala %}
                                            <option value="{{ salas.id }}">{{ salas.nombre_sala}}
                                                <!--agregar tipo salas.tipo_sala nombres muy grandes-->
                                            </option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <div class="row row form-group">
                                    <!--tengo que filtrar -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Camilla</span>
                                        </div>
                                        <select class="custom-select" id="camilla_id" name="camilla_id" required>
                                            <option value="" selected disabled>Elija el número de camilla</option>
                                            {% if camilla %}
                                            {% for cam in camilla %}
                                            <option value="{{ cam.id }}" data-region="{{ cam.id_sala_id }}">
                                                {{cam.numero_camilla }}
                                            </option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <!-- Inicio Botones-->
                                <div class="col-lg-4 offset-lg-8 text-right">
                                    <a href="" role="button" class="btn btn-danger" data-toggle="collapse"
                                        data-target="#formulario_ingreso" aria-expanded="false">Cancelar</a>
                                    <button type="submit" id="guardarIngreso" name="guardarIngreso"
                                        class="btn btn-info">Guardar</button>
                                </div>
                                <!--Fin Botones-->
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>