<div class="modal fade" id="modal_editar_ingreso">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Boton de cerrar modal-->
            <div class="col-sm-12 justify-content-right">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <!-- Cuerpo modal-->
            <div class="modal-body">
                <div class="col-12">
                    <!--Form para editar Familiar-->
                    <form action="{% url 'ingreso_editar' %}" method="post" name="IngresoEditar">

                        {% csrf_token %}
                        <input type="hidden" id="identificador_editar" name="identificador_editar" value="">
                        <div class="card card-info card-outline border-info ">
                            <!-- Inicio del card que engloba los campos del form -->
                            <div class="card-header">
                                <h5>Editar Ingreso</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Fecha de ingreso</span>
                                        </div>
                                        <input required type="date" class="form-control" id="fe_ingreso_editar"
                                            name="fe_ingreso_editar" placeholder="Ingrese fecha de ingreso">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text ">Fecha de egreso</span>
                                        </div>
                                        <input required type="date" class="form-control" id="fe_egreso_editar"
                                            name="fe_egreso_editar" placeholder="Ingrese fecha de egreso">
                                    </div>
                                </div>
                                <div class="row row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Sala</span>
                                        </div>
                                        <select class="custom-select" id="sala_editar" name="sala_editar">
                                            <option value="" selected disabled>Elija el sala
                                            </option>
                                            {% if sala %}
                                            {% for salas in sala %}
                                            <option value="{{ salas.id }}">{{ salas.nombre_sala}}
                                                <!--agregar tipo salas.tipo_sala nombres muy grandes-->
                                            </option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row row form-group">
                                    <!--tengo que filtrar -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Camilla</span>
                                        </div>
                                        <select class="custom-select" id="camilla_editar" name="camilla_editar"
                                            required>
                                            <option value="" selected disabled>Elija camilla</option>
                                            {% if camilla %}
                                            {% for cam in camilla %}
                                            <option value="{{ cam.id }}" data-region="{{ cam.id_sala_id }}">
                                                {{cam.numero_camilla }}
                                            </option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Inicio Botones-->
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-8 text-right">
                                        <button type="submit" id="editarIngreso" name="editarIngreso"
                                            class="btn btn-info lg">Editar</button>
                                    </div>
                                </div>
                                <!--Fin Botones-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>