<!--Inicio de la pestaña para orden de examen-->
<div class="tab-pane fade " id="custom-tabs-consulta-examenes" role="tabpanel"
    aria-labelledby="custom-tabs-consulta-examenes-tab">
    <div class="card-body m">
        <div class="row">
            <div class="col-12">
                <p>
                    {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                    <button disabled class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_orden" aria-expanded="false">
                        <span aria-hidden="true"></span> Agregar Orden de Examen &nbsp;
                    </button>
                    {% else %}
                    <button class="btn btn-outline-info dropdown-toggle dropdown-icon" type="button"
                        data-toggle="collapse" data-target="#formulario_orden" aria-expanded="false">
                        <span aria-hidden="true"></span> Agregar Orden de Examen &nbsp;
                    </button>
                    {% endif %}
                    <a href="{% url 'indexExpedientes' %}" role="button"
                        class="btn btn-bg btn-secondary offset-lg-7">Regresar</a>
                </p>
                <div class="collapse" id="formulario_orden">
                    <!--Form para agregar la orden de examen-->
                    <form method="post" name="formordenexamen" action="{% url 'ordenExamen_create' consulta.id %}">
                        {% csrf_token %}
                        <div class="card card-info card-outline border-info mb-3 col-lg-10 offset-lg-1">
                            <!-- Inicio del card que engloba los campos del form -->
                            <div class="card-header">
                                <h5>Crear orden de exámen</h5>
                            </div>
                            <div class="card-body">
                                <div class="row row form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Tipo de Examen</span>
                                        </div>
                                        <select required class="custom-select" id="tipo_id" name="tipo_id">
                                            <option value="" selected>Elija el Tipo de Exámen</option>

                                            {% for tipos in tipo %}
                                            <option value="{{ tipos.id }}">{{ tipos.nombre }}
                                            </option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <!-- Inicio Botones-->
                                <div class="col-lg-4 offset-lg-8 text-right">
                                    <a href="" role="button" class="btn btn-danger" data-toggle="collapse"
                                        data-target="#formulario_orden" aria-expanded="false">Cancelar</a>
                                    <button type="submit" id="guardarOrdenExam" name="guardarOrdenExam"
                                        class="btn btn-info">Guardar</button>
                                </div>
                                <!--Fin Botones-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Datatable donde se listan las ordenes de examen -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline border-secondary ">
                <div class="card-header">
                    <h3 class="card-title">
                        Listado de orden de examen
                    </h3>
                </div>
                <div class="row">
                    <div class="card-body col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="tableexamenpendiente"
                                name="tableexamenpediente" style="width: 100%;">
                                <thead class="bg-secondary">
                                    <tr>
                                        <td>Fecha de registro</td>
                                        <td>Estado </td>
                                        <td>Tipo </td>
                                        <td>Opciones</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for orden in ordenexamen %}
                                    <tr>
                                        <td>{{orden.fecha_asignacion}}</td>
                                        <td>{{orden.estado}}</td>
                                        <td>{{orden.id_tipo.nombre}}</td>
                                        <td>
                                            {% if todays_date > consulta.fecha_reservacion|date:'Y-m-d' %}
                                            <button disabled href="{% url 'orden_eliminar' orden.id %}"
                                                class="btn btn-danger">Eliminar</button>
                                            {% else %}
                                            <a href="{% url 'orden_eliminar' orden.id %}"
                                                class="btn btn-danger">Eliminar</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>