{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'dist/js/jsconsultas/ingreConsulta.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-8 offset-2 ">
            <div class="card card-info">
                <div class="card-header with-border">
                    Programar consulta
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Paciente</span>
                                        </div>
                                        <select class="selectpicker form-control" data-live-search="true" id="paciente"
                                            name="paciente">
                                            {%if paciente%}
                                            <option disabled>Numero ISSS || Nombres y Apellidos</option>
                                            <option value="{{paciente.id}}" selected>
                                                {{paciente.id_persona.isss}} ||
                                                {{paciente.id_persona.primer_nombre}}
                                                {{paciente.id_persona.segundo_nombre}}
                                                {{paciente.id_persona.primer_apellido}}
                                                {{paciente.id_persona.segundo_apellido}}
                                            </option>
                                            {%else%}
                                            <option disabled selected>Numero ISSS || Nombres y Apellidos</option>
                                            {%for pcnt in pacientes%}
                                            <option value="{{pcnt.id}}">
                                                {{pcnt.id_persona.isss}} ||
                                                {{pcnt.id_persona.primer_nombre}} {{pcnt.id_persona.segundo_nombre}}
                                                {{pcnt.id_persona.primer_apellido}} {{pcnt.id_persona.segundo_apellido}}
                                            </option>
                                            {%endfor%}
                                            {%endif%}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Fecha</span>
                                        </div>
                                        <input type="date" class="form-control" id="fecha" name="fecha">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Turno</span>
                                        </div>
                                        <select class="form-control" data-live-search="true" id="turno" name="turno">
                                            <option selected disabled>Nombre de turno || Fecha de turno || Hora de turno
                                            </option>
                                            {%for turno in turnos%}
                                            <option value="{{turno.id}}">
                                                {{turno.nombre_turno}} ||
                                                {{turno.fecha_inicio}} - {{turno.fecha_fin}} ||
                                                {{turno.hora_inicio}} - {{turno.hora_fin}}
                                            </option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Doctor</span>
                                        </div>
                                        <select class="form-control" data-live-search="true" id="doctor" name="doctor">
                                            <option selected disabled>Seleccione el doctor</option>
                                            {%for doctor in doctores%}
                                            <option value="{{doctor.empleado.id}}" data-region="{{ doctor.turno_id }}">
                                                Dr. {{doctor.empleado.id_persona.primer_nombre}}
                                                {{doctor.empleado.id_persona.segundo_nombre}}
                                                {{doctor.empleado.id_persona.primer_apellido}}
                                                {{doctor.empleado.id_persona.segundo_apellido}}
                                            </option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 offset-lg-7 text-right">
                                        <a href="{% url 'indexConsulta_Programada' %}" role="button"
                                            class="btn btn-danger">Cancelar</a>
                                        <button type="submit" id="guardar" name="guardar"
                                            class="btn btn-info">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}