<!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright 2020 <a href="">BAD-115</a>.</strong>
    Todos los derechos reservados
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0 
    </div>
  </footer>