<!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
       <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'change_password' %}" class="nav-link">Cambiar contraseña</a>
      </li>
      {% else %}
      
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'log_in' %}" class="nav-link">Iniciar sesion</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'sign_up' %}" class="nav-link">Registrar</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'list_user' %}" class="nav-link">Usuarios</a>
      </li>
      {% endif %}
    </ul>
    {% if request.user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'log_out' %}" class="nav-link">Cerrar sesion</a>
      </li>
      </ul>
       {% endif %}
  </nav>
<!-- /.navbar -->