{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Expediente Clinico</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a  class="d-block text-center">{{ request.user.first_name }} {{ request.user.last_name }}</a>
          <a  class="d-block text-center">{% now "d/b/Y H:i"%}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

                {% if perms.personas.usuarios_control %}
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                ADMIN
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'list_user'%}" class="nav-link">
                  <i class=" nav-icon fas fas fa-users"></i>
                  <p>Usuarios del sistema</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'list_group'%}" class="nav-link">
                  <i class=" nav-icon fas fas fa-users"></i>
                  <p>Grupos</p>
                </a>
              </li>
            </ul>

                {% if perms.personas.permisos_control %}
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'list_permission'%}" class="nav-link">
                  <i class=" nav-icon fas fas fa-users"></i>
                  <p>Permisos</p>
                </a>
              </li>
            </ul>
          {% endif %}
          </li>
          {% endif %}
          <li class="nav-header">OPCIONES</li>
          {% if perms.personas.expediente_control or perms.personas.expedientes_index %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file-alt"></i>
              <p>
                Expedientes
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'indexExpedientes' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ver expedientes</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}

          {% if perms.consultas.clinica_control %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-hospital"></i>
              <p>
                Clinicas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'indexClinica' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ver clinicas</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}

           {% if perms.personas.costos_control %}
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-dollar-sign"></i>
              <p>
                Costos
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'indexCostos' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ver costos</p>
                </a>
              </li>
            </ul>
          </li>
           {% endif %}
          {% if perms.personas.especialidad_control %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-spinner"></i>
              <p>
                Especialidades
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'indexEspecialidades' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ver especialidades</p>
                </a>
              </li>
            </ul>
          </li>
        {% endif %}
        {% if perms.personas.empleados_control %}
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-person-booth"></i>
              <p>
                Empleados
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'indexEmpleados' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ver Empleados</p>
                </a>
              </li>
            </ul>
          </li>
       {% endif %}
          {% if perms.consultas.laboratorio_control %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-vials"></i>
              <p>
                Laboratorio Clinico
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            {% if perms.consultas.laboratorio_control %}
              <li class="nav-item">
                <a href="{% url 'indexLaboratorio' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Examenes Pendientes</p>
                </a>
              </li>
              {% endif %}
              {% if perms.consultas.laboratorio_control %}
              <li class="nav-item">
                <a href="{% url 'indexLaboratorioRepondidos' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Examenes Entregados</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
        {% if perms.consultas.turnos_control %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p>
                Turnos clinicos
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="{% url 'indexTurno' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ver turnos</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'turno_crear' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear Turno</p>
                </a>
              </li>

            </ul>
          </li>
          {% endif %}

           {% if perms.consultas.cita_control %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file-signature"></i>
              <p>
                Citas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="{% url 'indexConsulta_Programada' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ver Citas programadas</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'consulta_programar' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear Cita</p>
                </a>
              </li>

            </ul>
          </li>
         {% endif %}

          {% if perms.personas.usuarios_control %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-american-sign-language-interpreting"></i>
              <p>
                Bitacora del sistema
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="{% url 'VerBitacora' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ver Bitacora</p>
                </a>
              </li>


            </ul>
          </li>
         {% endif %}

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-american-sign-language-interpreting"></i>
              <p>
                Estadisticas del sistema
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="{% url 'Verestadisticas' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ver Estasdisticas</p>
                </a>
              </li>


            </ul>
          </li>


        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

