{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/SaQuimico.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>
                        Editar los resultados del examen químico sanguíneo del paciente
                        {{ ordenP.id_consulta.id_paciente.id_persona.primer_nombre}} {{ ordenP.id_consulta.id_paciente.id_persona.primer_apellido}}.
                    </h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Resultados del exámen
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Parametro</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="parametro" name="parametro"
                                                           value="{{quimicaSaE.parametro}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Comentario</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="comentario" name="comentario"
                                                           value="{{quimicaSaE.comentario}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Unidades</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="unidades" name="unidades"
                                                           value="{{quimicaSaE.unidades}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">resultado</span>
                                                    </div>
                                                    <input type="number" class="form-control" id="resultado" name="resultado"
                                                           value="{{quimicaSaE.resultado}}" required>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Rango</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="rango" name="rango"
                                                           value="{{quimicaSaE.rango}}" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexLaboratorioRepondidos' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}