{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jscostos/editarCostos.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-8 offset-2 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    Editar costo.
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuEditar">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Concepto</span>
                                        </div>
                                        <input type="text" class="form-control" id="concepto" name="concepto" value="{{ costo.concepto }}">
                                    </div>
                                </div>
                                <div class="row form-group">
                                        <div class="input-group col-lg-10 offset-lg-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Costo</span>
                                            </div>
                                            <input type="number" class="form-control" id="costo" name="costo" value="{{ costo.costo }}" >
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexCostos' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Editar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}