{% extends 'base.html' %}
{% load static %}

{% block header %}

<script src="{% static 'dist/js/jscostos/indexCostos.js' %}"></script>
{% endblock %}
{% block content %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->

<br>
<br>
<br>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card card-info">
                <div class="card-header">
                    Listado de costos.
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 offset-lg-10 text-right">
                            <a  class="btn btn-primary" href="{% url 'costo_crear' %}" role="button"> <i class="fa fa-plus" aria-hidden="true"></i> Nuevo costo</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col align-self-center">
                            <table class="table" id="tablaCostos" name="tablaCostos">
                                <thead class="bg-info">
                                <tr>
                                    
                                    <th>Concepto</th>
                                    <th>Costo</th>
                                    <td>Opciones</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% if costos %}
                                {% for costosregistrados in costos %}
                                <tr>
                                   
                                    <td> {{ costosregistrados.concepto }}</td>
                                    <td> {{ costosregistrados.costo }}</td>
                                    <td><div class="btn-group">
                                        <a href="{% url 'costo_editar' costosregistrados.id %}" class="btn btn-sm btn-success">Actualizar</a>
                                        <a href="{% url 'costo_eliminar' costosregistrados.id %}"  class="btn btn-sm btn-danger">Eliminar</a>
                                    </div></td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}