{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/indexLaboratorio.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}

<br>
<br>
<br>
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card card-info">
            <div class="card-header">
                Listado de Examenes pendiente de resultados
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 offset-lg-8 text-right">

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <table class="table" id="tablaExamenes" name="tablaExamenes">
                            <thead class="bg-info">
                            <tr>
                                <th>Nombre del Paciente</th>
                                <th>Apellido del paciente</th>
                                <th>Tipo de Examen</th>
                                <th>Estado</th>
                                <td>Opciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if ordenes %}
                            {% for ordenesEx in ordenes %}
                            <tr>
                                <td> {{ ordenesEx.id_consulta.id_paciente.id_persona.primer_nombre }}</td>
                                <td> {{ ordenesEx.id_consulta.id_paciente.id_persona.primer_apellido }}</td>
                                <td> {{ ordenesEx.id_tipo.nombre }}</td>
                                <td> {{ ordenesEx.estado }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'controladorOrdenes' ordenesEx.id %}" class="btn btn-sm btn-success">Ingresar Resultados</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}