{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/oriQuimico.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>
                        Resultados del exámen de orina químico.
                    </h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                <div id="Impresion" name="Impresion" class="Impresion">
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-info-circle"></i>
                                                Resultados del exámen  del paciente {{ ordenP.id_consulta.id_paciente.id_persona.primer_nombre}}
                                                   {{ ordenP.id_consulta.id_paciente.id_persona.primer_apellido}}.
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Densidad</span>
                                                    </div>
                                                    <input type="number" class="form-control" id="densidad" name="densidad"
                                                           value="{{orinaQuimicoE.densidad}}" Disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">PH</span>
                                                    </div>
                                                    <input type="number" class="form-control" id="ph" name="ph"
                                                           value="{{orinaQuimicoE.ph}}" Disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Glucosa</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="glucosa" name="glucosa"
                                                           value="{{orinaQuimicoE.glucosa}}" Disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Proteinas</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="proteinas" name="proteinas"
                                                           value="{{orinaQuimicoE.proteinas}}" Disabled>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Hemoglobina</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="hemoglobina" name="hemoglobina"
                                                           value="{{orinaQuimicoE.hemoglobina}}" Disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Cuerpo cetonico</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="cuerpo_cetonico" name="cuerpo_cetonico"
                                                           value="{{orinaQuimicoE.cuerpo_cetonico}}" Disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Pigmento biliar</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="pigmento_biliar" name="pigmento_biliar"
                                                           value="{{orinaQuimicoE.pigmento_biliar}}" Disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Urobilinogeno</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="urobilinogeno" name="urobilinogeno"
                                                           value="{{orinaQuimicoE.urobilinogeno}}" Disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Nitritos</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nitritos" name="nitritos"
                                                           value="{{orinaQuimicoE.nitritos}}" Disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                </div>
                                

                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="javascript:void(0);" id="printButton" class="btn btn-primary ">Imprimir</a>
                        {% if perms.consultas.laboratorio_control %}
                            <a href="{% url 'indexLaboratorioRepondidos' %}" role="button" class="btn btn-danger">Regresar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}