{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsturnos/indexTurno.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card card-info">
            <div class="card-header">
                Listado de turnos
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 offset-lg-10 text-right">
                        <a class="btn btn-primary" href="{% url 'turno_crear' %}" role="button"> <i class="fa fa-plus" aria-hidden="true"></i>
                            Nuevo turno</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <table class="table" id="turnos">
                            <thead class="bg-info">
                            <tr>
                                <th>Nombre del turno</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Activo</th>
                                <td>Opciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if turnos %}
                            {% for turno in turnos %}
                            <tr>
                                <td>{{turno.nombre_turno}}</td>
                                <td>{{turno.fecha_inicio}}-<br>{{turno.fecha_fin}}</td>
                                <td>{{turno.hora_inicio}}-<br>{{turno.hora_fin}}</td>
                                <td>{{turno.activo}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'turno_editar' turno.id %}" class="btn btn-sm btn-success">
                                            Actualizar
                                        </a>
                                        <a class="btn btn-sm btn-danger" id="eliminar">Eliminar</a>
                                        <input type="hidden" id="Url" value="{% url 'turno_eliminar' turno.id %}"/>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}