{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/Hemacro.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>
                        Editar los resultados del examen de heces macroscópico del paciente
                        {{ ordenP.id_consulta.id_paciente.id_persona.primer_nombre}} {{ ordenP.id_consulta.id_paciente.id_persona.primer_apellido}}.
                    </h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-edit"></i>
                                                Resultados del exámen
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Aspecto</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="aspecto" name="aspecto"
                                                           value="{{hecesmacroE.aspecto}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Consistencia</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="consistencia" name="consistencia"
                                                           value="{{hecesmacroE.consistencia}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Color de la muestra</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="color" name="color"
                                                           value="{{hecesmacroE.color}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Presencia de sangre</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="sangre" name="sangre"
                                                           value="{{hecesmacroE.presencia_de_sangre}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Olor de la muestra</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="olor" name="olor"
                                                           value="{{hecesmacroE.olor}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Restos alimenticios</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="restos" name="restos"
                                                           value="{{hecesmacroE.restos_alimenticios}}" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Presencia de moco</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="moco" name="moco"
                                                           value="{{hecesmacroE.presencia_de_moco}}" required>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexLaboratorioRepondidos' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}