{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/fisico.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>
                        Resultados del exámen físico del paciente {{ ordenP.id_consulta.id_paciente.id_persona.primer_nombre}}
                        {{ ordenP.id_consulta.id_paciente.id_persona.primer_apellido}}.
                    </h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-info-circle"></i>
                                                Resultados del exámen
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Nombre del examen</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="nombreExamen" name="nombreExamen"
                                                           value="{{fisicoE.nombre_archivo}}" Disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text "> Vista del archivo del examen</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <embed src="{{fisicoE.path_store.url}}" type="application/pdf" width="100%" height="600px"/>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                  
                      
                   
                     
                        <div class="col-lg-4 offset-lg-7 text-right">
                      
                        {% if perms.consultas.laboratorio_control %}
                            <a href="{% url 'indexLaboratorioRepondidos' %}" role="button" class="btn btn-danger">Regresar</a>
                            {% endif %}
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}