{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsclinicas/indexClinica.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}
<br>
<br>
<br>
<div class="row">
    <div class="col-10 offset-1">
        <div class="card card-info">
            <div class="card-header">
                Listado de clinicas
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 offset-lg-10 text-right">
                        <a class="btn btn-primary" href="{% url 'clinica_crear' %}" role="button"> <i class="fa fa-plus" aria-hidden="true"></i>
                            Nueva clinica</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <table class="table display" name="indexClinica" id="indexClinica">
                            <thead class="bg-info">
                            <tr>

                                <th>Nombre de la clinica</th>
                                <th>Departamento</th>
                                <th>Municipio</th>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if clinicas %}
                            {% for clinicasregistradas in clinicas %}
                            <tr>

                                <td> {{ clinicasregistradas.nombre }}</td>
                                <td> {{ clinicasregistradas.departamento_id.nombreDepartamento }}</td>
                                <td> {{ clinicasregistradas.municipio_id.nombreMunicipio }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'clinica_editar' clinicasregistradas.id %}" class="btn btn-sm btn-success">Actualizar</a>
                                        <a href="{% url 'clinica_eliminar' clinicasregistradas.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}