{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsclinicas/indexCodigo.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card card-info">
                <div class="card-header">
                    Listado de codigo internacional
                </div>
                <div class="card-body">
                    <br>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <table class="table" name="indexCodigo" id="indexCodigo">
                                <thead class="bg-info">
                                <tr>
                                    
                                    <td>Coodigo</td>
                                    <td>Descripcion</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% if cod %}
                                {% for codigo in cod %} 
                                <tr>
                                    
                                    <td>{{  codigo.id10  }} </td>
                                    <td>{{ codigo.dec10  }} </td>
                                   
                                </tr>
                                 {% endfor %}
                                {% endif %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}