{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsclinicas/ingresarClinica.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-8 offset-2 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    Ingresar Clinica.
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formulario">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1 ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Departamento</span>
                                        </div>
                                        <select class="custom-select" id="departamento" name="departamento" required>
                                            <option value="" selected disabled>Elija el departamento</option>
                                            {% if departamentos %}
                                            {% for depart in departamentos %}
                                            <option value="{{ depart.id }}">{{ depart.nombreDepartamento }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Municipio</span>
                                        </div>
                                        <select class="custom-select" id="municipio" name="municipio" required>
                                            <option value="" selected disabled>Elija el municipio</option>
                                            {% if municipios %}
                                            {% for muni in municipios %}
                                            <option value="{{ muni.id }}" data-region="{{ muni.departamento_id_id }}">{{ muni.nombreMunicipio }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Direccion</span>
                                        </div>
                                        <textarea class="form-control" rows="2" id="direccion" name="direccion" required></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexClinica' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

