{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/bitacora.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}

<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-16">
            <div class="card card-info">
                <div class="card-header">
                   Registro de toda la actividaad en el sistema
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-8 text-right">
                            
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-16">
                            <table class="table" id="bitacora" name="bitacora">
                                <thead class="bg-info">
                                <tr>
                                    <th>#</th>
                                    <th>Accion</th>
                                    <th>Fecha y hora de la accion </th>
                                   
                                </tr>
                                </thead>
                                <tbody>
                                    {% if bita %}
                                    {% for bitacora in bita %}
                                    <tr>
                                        <td> {{bitacora.id }}</td>
                                        <td> {{ bitacora.accion}}</td>
                                        <td> {{bitacora.Fecha_realizacion}}</td>
                                        
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}