{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/stats.js' %}"></script>
{% endblock %}

{% block content %}

<br>
<div class="row">
     <div class="col-lg-3 col-10">
            <!-- small box -->
        <div class="small-box bg-warning">
              <div class="inner">
           
                {% if usr %}
                    {% for tusuarios in usr %}
                        <h3> {{ tusuarios.usuariossistema}}</h3>
                    {% endfor %}
                    {% endif %}

                <p>Usuarios totales registrados en el sistema</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
        </div>
     </div>

      <div class="col-lg-3 col-10">
            <!-- small box -->
        <div class="small-box bg-info">
              <div class="inner">
           
                {% if emp %}
                    {% for templeados in emp %}
                        <h3> {{ templeados.cntempleado}}</h3>
                    {% endfor %}
                    {% endif %}

                <p>Trabajadores registrados en el sistema</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-nurse"></i>
              </div>
            </div>
     </div>
       
    <div class="col-lg-3 col-10">
        <div class="small-box bg-success">
              <div class="inner">
                {% if pci %}
                    {% for tpaciente in pci %}
                        <h3> {{ tpaciente.cntpaciente}}</h3>
                    {% endfor %}
                    {% endif %}
                <p>Pacientes  registrados en el sistema</p>
              </div>
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
            </div>
     </div>

      <div class="col-lg-3 col-10">
        <div class="small-box bg-light">
              <div class="inner">
                {% if cte %}
                    {% for tcitas in cte %}
                        <h3> {{ tcitas.cntconsultas}}</h3>
                    {% endfor %}
                    {% endif %}
                <p>Consultas atendidas</p>
              </div>
              <div class="icon">
                <i class="fas fa-calendar-check"></i>
              </div>
            </div>
       </div>
</div>

<div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-people-arrows"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Especialidades Registradas</span>
                <span class="info-box-number">
                {% if cnte %}
                    {% for espcnt in cnte %}
                        <h3> {{ espcnt.cntespecialidades}}</h3>
                    {% endfor %}
                    {% endif %}
                  
                </span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-hospital"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Clinicas Registradas</span>
                <span class="info-box-number">
                {% if ccli %}
                    {% for  cntCli in ccli %}
                        <h3> {{  cntCli.cnteclinicas}}</h3>
                    {% endfor %}
                    {% endif %}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-person-booth"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Salas registradas</span>
                <span class="info-box-number">
                   {% if csalas %}
                    {% for  salas in csalas %}
                        <h3> {{  salas.cntsalas}}</h3>
                    {% endfor %}
                    {% endif %}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-dollar-sign"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Costos controlados</span>
                <span class="info-box-number">
                 {% if cs %}
                    {% for  costosserv in cs %}
                        <h3> {{  costosserv.cntcostos}}</h3>
                    {% endfor %}
                    {% endif %}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
      
<div class ="row">
 <div class="col">
 <div class="card">
          <div class="card-header">
            <h3 class="card-title">Examenes atendidos.</h3>
          </div>

          <div class="card-body">
              <table class="table table-bordered table-sm">
                  <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Tipo de examen</th>
                        <th>Cantidad atendida</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% if exa %}
                    {% for examenes in exa %}
                    <tr>
                        <td> {{ examenes.id}}</td>
                        <td> {{ examenes.id_tipo}}</td>
                        <td> <span class="badge bg-success" >{{examenes.cantidad}}</span></td>
                        
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
              </table>
          </div>

      </div>

</div>

<div class="col">
  <div class="card">
          <div class="card-header">
            <h3 class="card-title">Cantidad de usuarios por Departamento de residencia</h3>
          </div>

          <div class="card-body">
              <table class="table table-bordered table-sm">
                  <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Departamento de residencia</th>
                        <th>Cantidad de personas</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% if udpt %}
                    {% for useDepart in udpt %}
                    <tr>
                        <td> {{ useDepart.id}}</td>
                        <td> {{ useDepart.id_departamento_id.nombreDepartamento}}</td>
                        <td> <span class="badge bg-success" >{{useDepart.cantidad}}</span></td>
                        
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
              </table>
          </div>

      </div>

</div>
<br>
<br>
</div>
<div class="col">
  <div class="card">
          <div class="card-header">
            <h3 class="card-title">Turno y consultas atendidas al dia.</h3>
          </div>

          <div class="card-body">
              <table class="table table-bordered table-sm" id = "turn" name = "turn" >
                  <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Nombre del turno</th>
                        <th>Estatus del turno</th>
                        <th>Fecha</th>
                        <th>Citas atendidas en el dia</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% if ci %}
                    {% for citas in ci %}
                    <tr>
                        <td> {{ citas.id }}</td>
                        <td> {{ citas.id_turno.nombre_turno }}</td>
                        <td> 
                        {% if  citas.id_turno.activo  %}
                        <span class="badge bg-success" >TURNO ACTIVO</span>
                        {% else %}
                        <span class="badge bg-danger" >TURNO FINALIZADO</span>
                        {% endif %}
                        
                        </td>
                        <td> {{ citas.fechaatencion }}</td>
                        <td> {{ citas.cantidad }}</td>
                        
                        
                    </tr>
                    {% endfor %}
                    {% endif %}
                    
                </tbody>
              </table>
          </div>

      </div>

</div>
{% endblock %}