{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsespecialidades/indexEspecialidades.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}

<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-11 offset-1">
            <div class="card card-info">
                <div class="card-header">
                    <h5>Listado de especialidades</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-8 text-right">
                            <a class="btn btn-primary" href="{% url 'especialidad_crear' %}" role="button">
                                <i class="fa fa-plus" aria-hidden="true"></i> Crear especialidad</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <table class="table" id="tableEspecialidades" name="tableEspecialidades">
                                <thead class="bg-info">
                                <tr>
                                    <td>Nombre de Especialidad</td>
                                    <td>Opciones</td>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if especialidades %}
                                    {% for especialidadesregistradas in especialidades %}
                                    <tr>
                                        <td> {{ especialidadesregistradas.nombre_especialidad }}</td>
                                        <td><div class="btn-group">
                                            <a href="{% url 'especialidad_editar' especialidadesregistradas.id %}" class="btn btn-sm btn-success">Actualizar</a>
                                            <a href="{% url 'especialidad_eliminar' especialidadesregistradas.id %}"  class="btn btn-sm btn-danger">Eliminar</a>
                                        </div></td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}