{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jslaboratorio/oriMacro.js' %}"></script>
<!-- jQuery Mask-->
<script src="{% static 'dist/js/jquery.mask.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-10 offset-lg-1 ">
            <div class="card card-info">

                <div class="card-header with-border">
                    <h5>
                       Resultados del exámen de orina macroscópico 
                    </h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuIngresar" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Datos personales-->
                                <div id="Impresion" name="Impresion" class="Impresion">
                                <div class="row">
                                    <div class="card card-primary card-outline border-info mb-3 col-lg-10 offset-lg-1">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-info-circle"></i>
                                                Resultados del exámen del paciente
                                                {{ ordenP.id_consulta.id_paciente.id_persona.primer_nombre}} {{ ordenP.id_consulta.id_paciente.id_persona.primer_apellido}}.
                                            </h3>   
                                        </div>                                        
                                        <div class="card-body">            
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Color</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="color" name="color"
                                                           value="{{orinamacroE.color}}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Aspecto</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="aspecto" name="aspecto"
                                                          value="{{orinamacroE.aspecto}}" disabled>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text ">Sedimento</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="sedimento" name="sedimento"
                                                           value="{{orinamacroE.sedimento}}" disabled>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="javascript:void(0);" id="printButton" class="btn btn-primary ">Imprimir</a>
                        {% if perms.consultas.laboratorio_control %}
                            <a href="{% url 'indexLaboratorioRepondidos' %}" role="button" class="btn btn-danger">Regresar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}